[2015-02-08 21:31] pkill37 opened #2 "Rename the "thread" term"
Sorry, I have to do a little nitpicking...

Since we're writing everything from scratch, I think now would be a good opportunity to call **threads** something else. It's a remnant of mailing lists, which forum software evolved from. It's weird to keep using that term. No one else is using it anymore.

I like the term **discussion**.

Any thoughts?

[2015-02-09 09:08] #2 closed, assigned to nobody

[2015-02-11 05:13] JitMaharaj opened #3 "Roles / Groups Discussion"
Need a quick response, if we need to keep the old Group term, or adapt the term "Role".

Not a huge change, but I am for the change.

Also I am implementing a different approach to permissions handling, whereby the groups and permissions are stored in separate table rather then together.

Thus

Users -> group_id
Role/Groups -> Group data
Permissions -> Route/Action Permission.

[2015-02-26 16:50] PenguinPaul opened #4 "JavaScript todo list"
- [x] Modal boxes for login/lost password
- [ ] Modal boxes for report, warn
- [x] Avatar upload with dropzone.js
- [x] Avatar crop? http://acornejo.github.io/jquery-cropbox/
- [ ] Quick reply (needs API)
- [ ] Multiupload
- [x] Multiquote
- [ ] Error notifications for uploads, posts etc (needs API?) (need to decide library?)
- [ ] dropdowns for edit post, etc
- [ ] dropdowns for messages, notific

[2015-03-20 11:22] euantorano opened #8 "Content Liking"
It should be able to "like" certain content around the forums.

**Like-able content**

It should be easy to extend the like system to allow multiple types of content to be "liked". Within the core, the only content to be "like"-able will be posts.

**Implementation**

Likes should take the form of a polymorphic relation using Eloquent. This allows for future enhancement and extension.

Additionall

[2015-03-20 11:25] euantorano opened #9 "Page Management System"
A system to allow the creation of additional pages should be provided within the core. This is a commonly used feature within forums that adds a lot of flexibility.

**Features**
- Ability to write a page in pure HTML
- Ability to write a page linked to some Controller action
- Ability to write a page using the Twig tempting language
- Role based permissions to view pages

[2015-03-20 11:26] euantorano opened #10 "User Conversation System"
Rather than the old Private Messaging system, a system allowing multiple users to have a private conversation should be implemented. Private Conversations should be able to include a number of participants, and provide all the expected features of BBCode/Markdown parsing, quoting, etc.

[2015-03-20 11:27] euantorano opened #11 "XML Sitemap"
XML Sitemaps are useful for Search Engine Optimisation (SEO) purposes and would be a valuable addition to the core. Sitemaps should be cached and regenerated on a schedule.

[2015-03-20 11:30] euantorano opened #12 "Scheduled Task System"
A system to provide the running of scheduled tasks should be provided. Scheduled tasks should be used to perform actions such as role promotions, email reviews, sitemap generation, and more.

**Features**
- [x] Tasks should be ran upon a time based schedule.
- [x] Tasks should be implemented as classes extending a base `MyBB\Core\Tasking\AbstractTask` class.
- [x] Tasks should be able to be ran as

[2015-03-20 11:33] euantorano opened #13 "User Mentions"
It should be able to mention/tag a user within a post using the familiar `@username` syntax. Several conventions should be included.

**Conventions**
- Usernames containing spaces should be tagged using the following syntax: `@[long separated username]`.
- Tags should be replaced upon parsing to a link to the user profile, possibly using a custom BBCode such as: `[USER=1234]@euantorano[/USER]`, wh

[2015-03-20 11:36] euantorano opened #14 "Alpha 1 Notifications"
A notification system to inform users of social interactions should be included.

**Features**
- [ ] Multiple notification types.
- [ ] Ability to mark notifications as read.
- [ ] Ability to delete old notifications.

[2015-03-20 11:39] euantorano opened #15 "User Activity"
A feature to provide a history of user activity, such as posting new posts, liking content, registering, and more.

**Features**
- [ ] Provide an easy API to add the automatic storing of user activity on content creation/update/delete.
- [ ] Scheduled task to clean out old activity logs older than `X` days, where `X` is a configurable option (set to `0` to disable clearing of activity).

**Impleme

[2015-03-20 11:43] euantorano opened #16 "Extension System"
Provide an easy system to write extensions to the MyBB 2.0 core.

**Features**
- Easy extension of core actions using event subscriptions.
- Extension of templates, inserting data using template hooks.
- Adding of assets (CSS, Javascript) to be loaded with extensions.

**Discussion Points**
- Ability to bootstrap the creation of a plugin from the Admin Control panel when in `Dev Mode`.
- Plugin fo

[2015-03-20 11:46] euantorano opened #17 "Widget system"
A widget system to allow the rendering of content blocks such as `Who's Online` by calling a simple function.

**Features**
- Easy registration of widgets using a `WidgetManager`.
- Easy creation of widgets by implementing a base contact `MyBBCore\Widgets\AbstractWidget`.
- Rendering of widgets via a Twig function `{{ render_widget('widget_name') }}`.
- Widget sections, which contain multiple widg

[2015-03-20 13:15] euantorano opened #18 "User follow system"
A system allowing users to "follow" other users. This system is similar to the Twitter concept of followers and the current buddy system.

**Features**
- Activity Feed can be filtered to show only activity from followed users
- Alternative "Ignore" feature for other users, hiding posts/topics (posts collapsed, toggle switch to temporarily show them).

[2015-03-20 15:11] euantorano opened #20 "Fix `getPresenter()` method on Models"
Currently, models use the new PHP 5.5 `::class` class name resolution. The core should support PHP 5.4 as a minimum, so these instances should be replaced with the hardcoded fully qualified class name.

[2015-03-20 16:07] JN-Jones opened #22 "Add captcha support"
To avoid bots we need captchas.
# Features
- reCaptcha and NoCaptcha
- Expendable
- Easy to use (Twig Function and Validation Rule)
- Registration and guest posting should show captcha always
- login attempts?
# Discussion

Do we want to support something else? Eg a basic image captcha?

[2015-03-20 16:17] #20 closed, assigned to euantorano

[2015-03-20 18:41] ATofighi opened #23 "Quote"
- [x] non-js Quote - #7
- [x] multiQuote - #72

[2015-03-21 22:51] euantorano opened #25 "Search System"
@ATofighi already started a search system, but it may be a good idea to extend it a little.

Ideally, the search system should have a concept of an "indexer", used to index content. The default would obviously be the database, but this approach would allow the easy implementation of advanced search systems such as ElasticSearch for Big Boards.

[2015-03-24 13:25] #22 closed, assigned to JN-Jones

[2015-03-27 14:06] ATofighi opened #33 "a issue with guest topic posting"
https://github.com/mybb/mybb2/blob/master/app/Database/Repositories/Eloquent/PostRepository.php#L183

`post->author` is not defined for guests

[2015-03-27 14:50] ATofighi opened #34 "a issue in forceDelete a topic"
FatalErrorException in TopicRepository.php line 309:
Call to undefined method Illuminate\Database\Eloquent\Collection::forceDelete()

[2015-03-27 14:53] ATofighi opened #35 "num_deleted_posts and num_unapproved_posts columns"
I think we should add `num_deleted_posts` and `num_unapproved_posts` to topics table and
`num_deleted_posts`, `num_unapproved_posts`, `num_deleted_topics` and `num_unapproved_topics`
to forums table...

[2015-04-02 14:36] wpillar opened #41 "Add WIO strings to User Profiles"
see: https://github.com/mybb/mybb2/wiki/Adding-a-new-route-to-the-'Who's-online%3F'-page

[2015-04-02 14:40] wpillar opened #42 "Add breadcrumbs to User Profiles"
See: https://github.com/mybb/mybb2/blob/master/app/Http/breadcrumbs.php

[2015-04-02 14:43] wpillar opened #43 "User Signatures"
- [ ] Ability for user to add a signature from their Account page.
- [ ] Signature display at the end of every post the user makes.
- [ ] Parser support.
- [ ] Support for other custom profile fields to be displayed in the signature area of a post.

[2015-04-02 15:08] euantorano opened #44 "Theme system"
There needs to be some kind of system to allow the creation of themes (or styles, not sure what to call them), allowing the installing of themes from third parties with customised CSS<,JavaScript and views.

Custom themes installed on the board should also be user selectable, so these details will have to be loaded fairly early in the application boot process.

[2015-04-02 16:09] wpillar opened #45 "Alpha 1 Moderation"
**Features**
- [x] Soft delete post
- [x] Hard delete post
- [x] Soft delete topic
- [x] Hard delete topic
- [x] Close / open topic
- [x] Approve / unapprove posts
- [x] Approve / unapprove topics
- [x] Move posts to existing topic
- [x] Move topics to other forums
- [x] Merge posts of the same author
- [x] Stick / unstick topics
- [x] Moderation Control Panel
  - [x] Moderation queue
  - [x] Mode

[2015-04-02 20:00] wpillar opened #46 "Reporting"
**Features**
- Report any content (post, topic, message etc) extensions can integrate to use the reporting system for content the extension generates.
- Integration with Moderation (#45)
  - Report centre

[2015-04-02 20:06] wpillar opened #47 "Alpha 1 Warning System"
**Features**
- [x] Warn a user
- [x] Warn a user for a particular piece of content (post, topic etc)
- [x] Configurable presets for warning points and reasons
- [x] Warn using a preset, or custom reason and points

[2015-04-07 08:53] euantorano opened #55 "Auto Presenter dependency requires PHP 5.5"
The Auto Presenter library requires PHP >5.5 due to it's usage of `::class` in tests. As we aim to support PHP >5.4, we will need to either choose an alternative library, or roll our own solution (either by forking the existing library and making it compatible or writing one from scratch).

It would be good to have a discussion about the best approach. The existing one also causes a few issues wit

[2015-04-07 11:30] ATofighi opened #57 "Localization and Translatable"
- [x] move all words to lang files
- [x] add localization for javascript

[2015-04-09 09:25] #34 closed, assigned to JN-Jones

[2015-04-09 19:21] JN-Jones opened #63 "Add Specific Exceptions"
Atm we're throwing `Exception` or `RuntimeException`, however correct Exception classes should be added and thrown instead (eg TopicNotFound etc). Note that this issue also applies to our packages.

[2015-04-09 19:26] JN-Jones opened #64 "Add "init" function"
We have some general code which should be run on every page, mainly the last visit/page, language and some general view variables. That code is located in `Controller::__construct` atm which means all controllers need to call the parent constructor and all other classes need to duplicate that code (eg middlewares). Instead we should add that code somewhere where it's been executed on every request

[2015-04-09 19:27] JN-Jones opened #65 "Avoid using Facades"
There are some places where we use Facades, especially the breadcrumb manager is always called via the facade. Instead we should update those cases and inject the class directly.

[2015-04-12 09:31] #64 closed, assigned to JN-Jones

[2015-04-12 10:40] JN-Jones opened #73 "Repository Factory"
As already discussed multiple times: We need some sort of repository factory to avoid that one repository relies on another (which can lead to endless loops)

[2015-04-12 10:42] JN-Jones opened #74 "Usergroup settings"
We have user settings, board settings and usergroup permissions so far but no usergroup settings (eg `minPostsForPm`). There needs to be an easy way to get the correct value for an user, however this is a bit setting related as eg `minXyForZ` settings should return the _lowest_ value needed and other settings, eg `maxXyForZ`, should return the _highest_. It doesn't really fit in the settings packa

[2015-04-12 11:19] ATofighi opened #75 "PHP Error in reply"
[code]

[2015-04-13 21:43] wpillar opened #79 "Parser handles [hr] incorrectly"
![image](https://cloud.githubusercontent.com/assets/188514/7126075/47074bc4-e22e-11e4-926d-1112cb10fd05.png)

If you create a new post with the following raw content:

[code]

It puts the `<p>` tags in the wrong places and ends up making the `Bar` and `Bat` bits larger than `Foo`. Due to not being wrapped in `<p>` tags.

[2015-04-14 17:02] #75 closed, assigned to JN-Jones

[2015-04-14 19:15] ATofighi opened #80 "post/topic delete"
- when you delete a post, the likes of the post should be deleted...
- when you delete a topic, the poll of the topic should be deleted...

[2015-04-17 05:57] #8 closed, assigned to euantorano

[2015-04-17 06:48] JN-Jones opened #83 "Registration Agreement Page"
We should provide a basic registration agreement page. Basically we should add two more settings: enable feature and agreement. The sign up page should simply show a check box with a link (opens in a new tab) and the agreement page basically displays what's saved in the setting.

[2015-04-17 07:18] JN-Jones opened #84 "Support "show online status" setting"
The user setting is already saved and as we have permissions now we can also define who is able to see users who disabled the setting so we should make that setting working.

[2015-04-17 07:20] #33 closed, assigned to nobody

[2015-04-17 07:59] #3 closed, assigned to JN-Jones

[2015-04-17 12:38] JN-Jones opened #86 "Bio not usable"
You can't enter text in the `Bio` profile field

[2015-04-17 12:39] JN-Jones opened #87 "Profilefield values aren't repopulated"
If the profilefield validation fails (eg Twitter) the old input isn't repopulated.

[2015-04-17 12:43] JN-Jones opened #88 "Profile shows last inserted profile field values for all users"
Basically the profile page gets the profilefields like this:

[code]

However the `field.value` itterates over all values associated with that field and returns the latest (so usually for that user who updated his profile last) instead of getting the correct value for _this_ user.

[2015-04-17 14:00] JN-Jones opened #90 "Running where on Collections doesn't always work"
While debugging issues with the demo board @euantorano and I noticed, that the `where` functions on collections doesn't work properly. By default it uses strict comparision which results in unexpected results, especially with booleans (mysql returns integer, pgsql boolean etc). While the `$cast` array helps with direct attributes it doesn't work with pivot data (eg in the `displayRole` function).

[2015-04-18 15:24] #86 closed, assigned to JN-Jones

[2015-04-18 16:48] #88 closed, assigned to JN-Jones

[2015-04-19 11:44] #87 closed, assigned to JN-Jones

[2015-04-19 16:18] #84 closed, assigned to JN-Jones

[2015-04-23 08:24] JN-Jones opened #100 "Accessing invalid user profile"
It's possible to access a profile of a non-existant user. Without #99 it simply shows an empty profile, with #99 you'll get a php error.

[2015-04-23 08:40] JN-Jones opened #102 "Debugbar saved as last online page"
For some reason the middleware also reacts on the debugbar. While this isn't a problem on live system it makes testing the wio a lot harder so it should be ignored.

[2015-04-23 08:53] #41 closed, assigned to JN-Jones

[2015-04-23 09:04] #42 closed, assigned to JN-Jones

[2015-04-23 09:17] JN-Jones opened #105 "Subclasses for aliased classes"
As @wpillar suggested here: https://github.com/mybb/mybb2/pull/99#discussion_r28946124 we should create sub classes for classes we usually alias (like `Manager` or `Repository`)
- [ ] `DaveJamesMiller\Breadcrumbs\Manager` should be subclassed to `Breadcrumbs` and stored in a sensible namespace.

[2015-04-23 09:20] JN-Jones opened #106 "Use validation for routes with id"
As @wpillar mentioned [here](https://github.com/mybb/mybb2/pull/101#discussion_r28946223): Instead of doing

[code]

in the controller we should add custom request classes to those functions which use the validor: `id => exists:elTable`
- [ ] `ForumController`
- [ ] `TopicController`
- [ ] `PostController`

[2015-04-23 13:06] JN-Jones opened #107 "Preview post/topic/conversation"
All of those three textareas should get a preview button which redirects to the same page with a preview. The postbit shouldn't be shown except the username/avatar part. While posts/topics have a full page editor where we can simply add the post/topic the conversation page only has the quickreply editor. While we could add that IMHO it'd be nicer to show the preview "inline"

[2015-04-24 09:49] JN-Jones opened #108 "Guest usernames aren't styled"
[This check](https://github.com/mybb/mybb2/blob/master/app/Presenters/User.php#L88-L90) prevents us from changing the style of the guests. Note that we can't attach a role to a guest as `attach` automatically tries to run a query. Instead either the user model (preverred) or the presenter should get an extra check.

[2015-04-24 09:50] JN-Jones opened #109 "Login and Signup modals should redirect to the same page"
Atm both redirect to the index. Laravel already has some special checks which should be used instead.

[2015-04-24 09:51] JN-Jones opened #110 "Deleting a post shouldn't redirect to the topic"
Instead it should
- redirect to the same post if soft deleted
- redirect to the previous or next post (at least to the same page) if hard deleted

[2015-04-24 11:33] JN-Jones opened #113 "Add sorting to memberlist"
The memberlist should be sortable
- by a default board setting
- by the user

Atm it's sorted by registrationdate (or better: mysqls internal way of sorting), it should also be sortable by username, last online and post/topic count.

[2015-04-24 15:55] #108 closed, assigned to JN-Jones

[2015-04-24 15:56] #100 closed, assigned to JN-Jones

[2015-04-24 17:06] #23 closed, assigned to ATofighi

[2015-04-24 18:02] ATofighi opened #115 "quote the selection"
ability to quote the selection

[2015-04-28 14:46] JN-Jones opened #121 "Guest session"
The "Who is online" page should also show guest sessions. Laravel's session system already handles them so it should be possible to use that one.

[2015-04-28 15:29] JN-Jones opened #122 "Permission system should be a "per content" default value"
Atm you add a permission related to a content type and a general default value. Then you associate that permission with a role and a content id (eg a specific forum) and set the value for that. Hoewever it may be wanted to
- Have a general default value (eg `canCloseTopics` with value `false`)
- Have a role specific default value (eg `Moderators` with `true` or `Banned` with `Never`)
- Have the co

[2015-04-30 15:00] JN-Jones opened #123 "Fallback for non-existant permissions"
ATM the `PermissionChecker` throws an error if a non-existent permission is queried. Instead a default value should be returned. IMHO `NEVER` would be best as that would also break all other loops (as the function will return the same value anyways for all roles.

[2015-04-30 16:21] JN-Jones opened #124 "WIO support for conversations"
All of the conversation routes should show something like "Reading a conversation"

[2015-04-30 18:28] JN-Jones opened #125 "Profile should show last visit/page"
As in 1.x the profile should include the last visit and if the user is currently online also the current page.

[2015-04-30 18:38] JN-Jones opened #126 "Dots in usernames (and likely titles) break links"
As the dot is used as url seperator it breaks things: http://mybb2.mybb.ninja/user/Paul%20H..5
It's likely that the same happens with forum and topic titles and probably some other slugged links.

[2015-05-01 09:34] JN-Jones opened #127 "(Guest) Username XSS"
There are some places where the username isn't escaaped. The case I found is a guest named `Guest<script>alert(0)</script>` when you hover the avatar on the topic list.

[2015-05-06 10:09] JN-Jones opened #132 "Include permissions"
We should start to include permissions. A `canViewForum` has been included but there are several others:
- [x] canPostTopics
- [x] canReply
- [x] canOnlySeeOwnTopics
- [x] canAddPolls
- [x] canEditPolls
- [x] canEditOwnPolls
- [x] canVoteInPolls
- [x] canViewProfiles
- [x] canUseCustomTitle
- [x] canUploadAvatar
- [x] canViewWhosOnline
- [x] canViewMemberlist
- [ ] canViewTopics
- [ ] canOnlyReply

[2015-05-07 12:19] #65 closed, assigned to JN-Jones

[2015-05-07 12:31] #124 closed, assigned to JN-Jones

[2015-05-10 17:45] #123 closed, assigned to JN-Jones

[2015-05-10 18:04] #102 closed, assigned to JN-Jones

[2015-05-10 18:07] #125 closed, assigned to JN-Jones

[2015-05-10 18:08] wpillar opened #134 "Usage of models directly in User Presenter, needs to use repositories"
https://github.com/mybb/mybb2/blob/master/app/Presenters/User.php#L245-249

[2015-05-10 18:12] #113 closed, assigned to JN-Jones

[2015-05-10 18:13] wpillar opened #135 "Member list footer styling is broken for odd numbered lists"
This PR highlights the issue: https://github.com/mybb/mybb2/pull/116

![image](https://cloud.githubusercontent.com/assets/188514/7555538/e7b535d6-f746-11e4-9ff5-89f3f5db4366.png)

[2015-05-10 22:33] Destroy666x opened #136 "Escape language strings for JS"
As I suggested under my lang commit, there should be some sort of support for languages which are often using apostophes (for example French) so that JS errors don't happen. Simply escaping them with Twig should be fine.

[2015-05-11 08:04] wpillar opened #138 "Composer minimum stability is dev for all packages"
https://github.com/mybb/mybb2/blob/master/composer.json#L77

We shouldn't ship with a min stability of dev.

[2015-05-11 21:31] JoshHarmon opened #139 "Guests can vote infinitely on polls"
In the /me thread, all votes above 14 were done by me as a guest. As a guest, I could vote as many times as desired.

Suggested fix: Don't allow Guests to vote in polls. Suggest registration instead.

[2015-05-12 13:10] JN-Jones opened #140 "Use specific versions for laravel and illuminate"
As per https://twitter.com/laravelphp/status/597827436173209601 we should use `5.0.*|5.1.*` instead of `~5.0` in all packages. I'll fix the core in #137

[2015-05-18 11:14] #115 closed, assigned to ATofighi

[2015-05-18 16:22] ATofighi opened #142 "CKEditor"
- [x] CKEditor - we should use bower and gulp for it
- [x] MyCode plugin
- [x] Insert Code/PHP Block Plugin
- [ ] Markdown plugin (?)
- [ ] Design a skin for it (?)

[2015-05-18 19:43] #107 closed, assigned to JN-Jones

[2015-05-18 19:58] #142 closed, assigned to nobody

[2015-05-18 21:32] wpillar opened #144 "Custom Profile Fields ACP Functionality"
**Features**
- Create new custom profile fields.
- Edit existing custom profile fields.

[2015-05-19 10:45] ATofighi opened #145 "Conversation - We can't add a username a `,` in it"
Admin can't add a participant if there is a `,` in his username..

[2015-05-19 13:43] #109 closed, assigned to JN-Jones

[2015-05-21 09:08] #127 closed, assigned to JN-Jones

[2015-05-21 09:10] JN-Jones opened #148 "Remove nestedset dependency"
The only part of it we're using is the node functionality (parent_id) which can easily be added ourself. To remove some overhead we should remove the library and write our own trait instead.

[2015-05-22 10:30] JN-Jones opened #149 "Cache relations"
Laravel caches (as always) nothing, so the following code will run the same query three times:

[code]

while the following code will do the same but run the query only once:

[code]

[2015-05-29 18:15] ATofighi opened #152 "PowerTip shows undefined sometimes"

[2015-05-29 18:49] ATofighi opened #154 "Add main.min.css and main.min.js to gitignore"
We should add `public/assets/css/main.min.css`, `public/assets/css/rtl.min.css`, `public/assets/js/main.js.min.map`, `public/assets/js/vendor.js.min.map`, `public/assets/js/main.min.js` and `public/assets/js/vendor.min.js` to `.gitignore`...
these files make merge conflicts usually and we don't use them now... (https://github.com/mybb/mybb2/blob/master/resources/views/footer/footer.twig#L17-L18 &

[2015-05-31 19:41] ATofighi opened #156 "possible close button css issues?!"
http://community.mybb.com/thread-171270.html

[2015-06-03 12:49] #152 closed, assigned to ATofighi

[2015-06-05 18:25] #140 closed, assigned to JN-Jones

[2015-06-09 14:36] #156 closed, assigned to ATofighi

[2015-06-23 20:04] #57 closed, assigned to ATofighi

[2015-06-23 20:25] wpillar opened #160 "Bump PHP requirement to 7.0"
As per the [RFC](https://mybb.com/about/rfcs/3-mybb-2-0-should-require-php-5-5-9/) the minimum PHP requirement for MyBB 2.0 has been bumped to 5.5.9.
- Update composer.json

[2015-06-23 20:27] wpillar opened #161 "Update to Laravel 5.1 LTS"
On the back of MyBB 2.0 being bumped to PHP 5.5.9, we can update to Laravel 5.1 LTS and sit on it for the foreseeable future of 2.x.

[2015-06-29 17:09] #122 closed, assigned to JN-Jones

[2015-06-30 01:47] #161 closed, assigned to JN-Jones

[2015-07-29 11:13] justinsoltesz opened #165 "ACP active tab classes"
Both the active heading and the active page in the Admin CP need to have an active class assigned to them.

**Example:** Currently, only _Profile Fields_ has an active class -- both _Users & Roles_ and _Profile Fields_ needs some sort of active class assigned to them.

[2015-08-12 18:38] euantorano opened #166 "Attachment System"
MyBB 2.0 should feature a much enhanced attachment system, with the following being key goals:
- [ ] Attachments should be able to be attached to posts, announcements and conversation messages.
- [ ] Users should have an "attachment library" from which they can select old attachments rather than uploading them again.
- [ ] Attachments should be exposed with their original extension rather than the

[2015-08-22 08:09] #55 closed, assigned to nobody

[2015-08-22 08:40] euantorano opened #167 "Changing URL structure"
The current url structure follows the format `<type>/<slug>.<id>`. I propose changing this structure to `<type>/<id>/<slug>`. This change is proposed due to the issues the current structure causes with things like dots in usernames.

This change is pretty minimal, requiring only a change to the `routes.php` file due to our use of built in functions to build URLs.

[2015-08-23 22:08] wpillar opened #169 "Alpha 2 Moderation"
Potential additions to moderation for Alpha 2.
- [ ] Custom moderation tools.
- [ ] Delayed moderation.
- [ ] Merge topics.
- [ ] Move posts to a new topic.
- [ ] Automated moderation, apply moderation tools automatically for:
  - [ ] Posting a certain word or phase
  - [ ] Posting a link to a certain domain / URL
  - [ ] If a user's first post contains a link, automatically unapprove

[2015-08-23 22:10] #144 closed, assigned to nobody

[2015-08-23 22:13] wpillar opened #170 "Alpha 2 Warning System"
Potential additions to the warning system for Alpha 2:
- [ ] Configurable warning thresholds, X number of points is a ban etc etc.
- [ ] Configurable automatic warnings
  - [ ] Posting a certain word or phrase
  - [ ] Posting a link to a certain domain
- [ ] Warning points expiry (using task system #12)
- [ ] Integration with Notifications (#14)

[2015-08-23 22:19] #73 closed, assigned to nobody

[2015-08-24 18:12] wpillar opened #171 "Alpha 2 Notifications"
- Ability to enable/disable notifications of a certain type.
- Weekly unread notification email reminder available as an option.
- Desktop notifications using the [HTML5 Notifications API](https://developer.mozilla.org/en/docs/Web/API/notification).

[2015-08-24 18:14] wpillar opened #172 "Alpha 2 Conversations"
- [ ] Search system; related to #25. Should probably be added in a way that allows plugins to easily make their content searchable too.
- [ ] Conversation listing should be orderable. Similar to the topic listing
- [ ] It should be possible to leave/ignore messages from the conversation listing (checkboxes)

[2015-08-24 18:14] #10 closed, assigned to JN-Jones

[2015-08-25 12:56] JN-Jones opened #173 "Cannot use MyBB\Core\Database\Models\Topic as Topic because the name is already in use"
As mentioned already here: https://github.com/mybb/mybb2/pull/120#discussion_r29245089

[2015-08-30 15:16] wpillar opened #175 "Alpha 1 ACP User Management"
- [ ] View all users.
- [ ] Edit user profiles.
- [ ] Search for users.

[2015-08-30 15:17] wpillar opened #176 "Alpha 1 ACP Configuration + Settings"
- [x] Alter all available settings from the ACP.

[2016-01-02 07:01] adiantek opened #180 "Declaration of MyBB\Auth\AuthManager::callCustomCreator() should be compatible with Illuminate\Auth\AuthManager::callCustomCreator($name, array $config)"
When "composer install" and "php artisan vendor:publish":
  [ErrorException]
  Declaration of MyBB\Auth\AuthManager::callCustomCreator() should be compatible with Illuminate\Auth\AuthManager::callCustomCreator($name, array $config)

[2016-01-02 07:45] euantorano commented on #180
Hi, this is a known issue. The auth package is being rewritten to work.

[2016-01-02 10:53] adiantek commented on #180
Which commit is fully compilable and runnable?

[2016-01-02 10:53] euantorano commented on #180
There isn't currently a working version. Past commits do work, but I can't point to a specific one. The problem was introduced by a change in the Laravel framework.

[2016-01-03 13:22] Maxime-BHA commented on #132
@JN-Jones @euantorano As of 5.1.11, Laravel introduces an Authorization system based on abilities using a Gate before requests and a policies implementation, IMHO it'd be great to extend the native Authorization system from Laravel, see [here](https://laravel.com/docs/5.1/authorization)

[2016-01-03 13:26] euantorano commented on #132
Yes, we know about this and the plan is to migrate the system to use this. The default implementation in Laravel is slightly lacking, so we'll be expanding upon it significantly.

[2016-01-07 04:53] #180 closed

[2016-02-13 14:37] chope1 opened #182 "[ErrorException] Declaration of MyBB\Auth\AuthManager::callCustomCreator() should be compatible with Illuminate\Auth\AuthManager::callCustomCreator"
This issue is not solved yet?
`[ErrorException]
  Declaration of MyBB\Auth\AuthManager::callCustomCreator() should be compati
  ble with Illuminate\Auth\AuthManager::callCustomCreator($name, array $confi
  g)
`

[2016-02-13 14:39] euantorano commented on #182
It will be fixed this weekend, I'm working on it. The issue is in the Auth library, not the core.

[2016-02-13 14:42] #182 closed

[2016-02-13 14:43] ATofighi commented on #182
https://github.com/mybb/Auth/issues/5

[2016-02-15 13:08] chope1 commented on #182
Thanks @euantorano  and @ATofighi
It was successfully published, however, there are some errors in login as the admin with
Username - admin
Password - passoword.
After clicking login, it will load and return to homepage without being authenticated,
Registration is trowing error in database.
In trying to post as a guest I will be redirected to error page.
Thanks.

[2016-02-15 17:30] euantorano commented on #182
Yeah, I noticed these and am still working to fix them. I'm not currently sure what's wrong, but I'll get it working this week. There are a few places throwing errors due to framework changes.

[2016-02-15 17:53] euantorano commented on #182
I also need to get permission checks rewritten this week/weekend too.

[2016-02-15 18:54] chope1 commented on #182
ok. Thanks. The forum looks exciting, can't wait for the release.
Modern and quality!

[2016-02-21 14:46] euantorano commented on #182
Ok, logins ar enow fixed. The problem was none of the routes were using the web middleware. That's one problem down, 100s to go :wink:

[2016-02-26 17:41] chope1 commented on #182
I can't reinstall it, getting this error -
  [ErrorException]
  php_strip_whitespace(C:\...): failed to open stream: Permission denied

Script php artisan optimize handling the post-install-cmd event returned with an error

  [RuntimeException]
  Error Output:

[2016-02-26 17:46] euantorano commented on #182
Looks like a permissions error on your system. You're running Windows, right? Can you run

php artisan optimize --verbose

[2016-02-27 05:12] chope1 commented on #182
Yes, I am running it on Windows using Xampp server, I rand the code you provided (php artisan optimize --verbose). and got this output
`
  [ErrorException]
  php_strip_whitespace(C:\xampp\htdocs\askng): failed to open stream: Permiss
  ion denied

Exception trace:
 () at C:\xampp\htdocs\askng\vendor\classpreloader\classpreloader\src\ClassPreloader.php:124
 Illuminate\Foundation\Bootstrap\HandleExc

[2016-02-27 07:55] euantorano commented on #182
Interesting. I don't use Windows so I'd never noticed it. I'll have a look today.

[2016-02-27 08:14] chope1 commented on #182
ok, thank @euantorano
I will also try to install it on my Ubuntu Desktop Os, let me see if it works.
Thanks.

[2016-03-16 14:00] Nik101010 opened #184 "URLs not adapting to route.php changes"
Posting this here because there is no bug forum available for 2.0 ...

There are several links / forms in the templates, where the url is not generated correctly, because the order of url parameters is hardcoded and not generated based on th
e route parameter keys.

e.g.
`url_route('user.profile', [user.name, user.id])`
instead of
`url_route('user.profile', {'slug': user.name, 'id': user.id})`

Th

[2016-03-16 14:14] euantorano commented on #184
Yeah, this is a known issue that's just taking me a while to tackle as I have to filter through every view to try and find them. Feel free to open a pull request if you get a chance :smile:

[2016-03-16 16:15] Nik101010 commented on #184
I was pretty sure this is a known issue, but I could not find any list of known issues :joy:

[2016-03-16 16:28] euantorano commented on #184
Yeah, it's a hand written list sat on my desk right now ;)

[2016-03-16 16:34] Nik101010 commented on #184
Okay - no one is working on that one currently ... Hopefully my regex worked - 35 occurences for links - I start fixing them :joy:
Maybe you find some time to make your list available to the public ^^ would make things easier ^^

(fyi: regex I used `url_route\('.*',.*\[.+\)`)

[2016-03-16 17:42] euantorano commented on #184
Looks right to me. I'll try get a chance to write them up as issues on this repository this week or next.

[2016-03-17 16:28] xaoseric opened #188 "Login/Signup Models Don't Work"
When you click the login and sign up links when not signed in, those do not work, at the moment a workaround is manually navigating to auth/signup and auth/login. The only values being added to the html are data-modal="auth/signup?url=", and data-modal="auth/login?url=", no actual model. @euantorano is there a specific model class that should be used when rendering out the code for the actual mode

[2016-03-17 16:31] euantorano commented on #188
I've not noticed this before, as I usually stay signed in. I'm not completely familiar with the CSS or the UI stuff, paging @justinsoltesz. I'll have a look tonight anyway and see if I can find anything immediately obvious.

[2016-03-17 16:49] xaoseric opened #189 "Error when replying to topic"
When you reply to a topic, this is what happens, looks like it is using post instead of get for quickreply
[![https://gyazo.com/3e868d46efad3ad0f6f7c6a04a1f80a0](https://i.gyazo.com/3e868d46efad3ad0f6f7c6a04a1f80a0.gif)](https://gyazo.com/3e868d46efad3ad0f6f7c6a04a1f80a0)

[2016-03-17 16:59] euantorano commented on #189
Actually, this looks to be an issue with the change I made to routes. The route should be `topic/1/my-topic/reply`, but the view uses an array to build the URL rather than a set, leading the parameters to be the wrong way around - see #184.

Should be an easy fix, with @Nik101010 already working on it (though I might beat him to it for this one) :smile:

[2016-03-17 17:10] justinsoltesz commented on #188
I seem to remember them working the last time I set up my local install. I can take a look again tonight.

[2016-03-17 17:42] xaoseric opened #193 "MyBB 2 Parser"
@euantorano Why not just use the s9e\TextFormatter parser instead of reinventing the wheel for parsers? It supports both BBCode and Markdown. Also includes mediaembeds out of the box. We could use it as a base to integrate with.

https://github.com/s9e/TextFormatter
http://s9e.github.io/TextFormatter/demo.html
http://s9e.github.io/TextFormatter/fatdown.html

[2016-03-17 17:49] euantorano commented on #193
Mostly because I'd never heard of it. That would indeed make life **far** easier. I'll look into it and make sure it meets our requirements. The license certainly works for us (MIT). @mybb/developers - thoughts?

[2016-03-17 18:35] ATofighi commented on #193
Looks good to me...

I think we can use it.

[2016-03-17 18:55] euantorano opened #195 "Remove the `laravelcollective/html` package"
I'm not sure what the original intent was, but we should remove `laravelcollective/html`. It makes things unduly complex and difficult. For instance, one is limited when opening a form to the following:

[code]

You cannot instead do:

[code]

Constructing a `<form>` tag isn't difficult, so there's not much use for the library in my opinion.

[2016-03-17 19:01] euantorano commented on #193
Yep, same thoughts here @ATofighi

[2016-03-17 19:05] #189 closed

[2016-03-17 19:07] euantorano opened #196 "Update gulp file to make use of Laravel elixir"
The main gulp file can be greatly simplified to make use of Laravel's Elixir, as documented here: https://laravel.com/docs/5.2/elixir

[2016-03-17 19:08] euantorano opened #197 "Migrate assets to the resources directory"
Larval conventions have raw assets being placed under the `resources` directory. We should stick to conventions wherever possible.

[2016-03-17 20:10] euantorano commented on #197
Also, we should try and migrate away from `bower` and rely solely on `npm`. Most of the packages we use are on npm and I'd rather rely on one service than two.

[2016-03-17 22:38] Nik101010 commented on #189
@euantorano links are done, forms are missing ^^ so yes, working on it :joy:
Now I have to resolve conflicts on my branch *slapsEuantoranoBack* :stuck_out_tongue:

[2016-03-17 22:43] Nik101010 commented on #195
You could use

`form_open({'url':` url_route('topics.reply', {'slug': topic.slug, 'id': topic.id}), 'method': 'post', 'id': 'quickreply'})`

to generate forms ^^ looks ugly ...

[2016-03-17 22:44] euantorano commented on #195
Yeah, it's easier to just use the proper tag IMO. Gets rid of a dependency too hopefully.

[2016-03-17 22:54] Nik101010 commented on #195
Maybe it's easier for <select> inputs, because you can more easily define the selected element and don't have to write an if clause every time ... (not sure though if there is an easier way with twig)

https://github.com/mybb/mybb2/blob/master/resources/views/admin/partials/users/profile_field_form.twig#L12 for example

[2016-03-18 10:57] euantorano commented on #195
Yeah, we could probably define a twig extensions for select boxes that just renders a template.

[2016-03-18 15:23] ATofighi commented on #195
I personally prefer to use `laravelcollective/html` instead of using `<form>`... (it's easier for CSRF, selects and ...)

We can ask @laravelcollective to add a way to use
[code]

[2016-03-18 15:26] euantorano commented on #195
Either way, we need to be able to use a hash rather than relying on positional arguments.

[2016-03-18 16:57] Nik101010 commented on #195
@ATofighi there is the `csrf_field()` function for generating a csrf form field in laravel 5.2 ... no need to use `laravelcollective/html` for this ... A whole package just for two functions ...
Imo twig extensions for form opening and selects are a better idea ...

[2016-03-30 14:51] xaoseric commented on #195
We could always do `<form action="{!! route('topics.reply', ['id' => topic.id, 'slug' => topic.slug]) !!}" method="post">`, that would be the proper way of doing it.

[2016-03-30 14:54] xaoseric commented on #188
@justinsoltesz any update on this?

[2016-03-30 14:57] xaoseric commented on #173
@euantorano probably should change the Presenter classes to have proper naming conventions to avoid future issues?

[2016-03-30 15:08] euantorano commented on #173
Yeah, I've suggested that before. Would make a lot more sense.

[2016-03-30 15:09] euantorano commented on #195
Yep, that's how I've been fixing it personally.

[2016-04-03 13:08] Matslom commented on #167
Whether [these](https://github.com/mybb/mybb2/blob/3928bd2f06b430a374937af9e7b42d89d523f602/app/Http/routes.php#L48-L54) links also shouldn't be changed to new structure?

[2016-04-03 13:09] euantorano commented on #167
Yep, I missed those - nice catch!

[2016-04-03 19:21] JordanMussi commented on #167
I prefer `<type>/<id>/<slug>`.

On should it be customisable:
I see a lot of forums don't move to the basic SEF URLs MyBB 1.x provides (the `<type>-<id>.html` structure). So I imagine most won't be customising this, those that do should be experienced enough to edit the Routes file...

[2016-04-03 19:22] euantorano commented on #167
@JordanMussi so basically what it's changing to? :wink:

They will be customisable once I finish migrating all the views across to using hashes rather than arrays to build links.

[2016-04-03 19:25] JordanMussi commented on #167
@euantorano Yeah, fool's on me for not checking the code before commenting! :blush:

Looking at the date on this I should have known to make sure!

[2016-04-03 19:26] euantorano commented on #167
@JordanMussi Yep, this was the original proposal (before we were even public). I've changed most of the links and everything across, but there are still a few broken links left.

[2016-04-03 19:40] Matslom commented on #167
I fixed most of broken links. Tomorrow I will make PR.

[2016-04-03 23:51] justinsoltesz commented on #188
The modals seem to be working fine on my end.

[2016-04-10 19:42] Hackmastr opened #202 "[Bug] TokenMismatchException"
Running mybb 2.0 with Laravel 5.2 gives the error:
[code]
Apparently Laravel requieres
[code]

[2016-04-10 19:43] euantorano commented on #202
Which page(s) does this apply to?

[2016-04-10 19:45] Hackmastr commented on #202
@euantorano quick reply, or reply page

[2016-04-10 19:46] Hackmastr commented on #202
@euantorano now its showing
[code]
As i'm new to PHP and Laravel(even more), I fail to fix this

[2016-04-10 20:04] euantorano commented on #202
Interesting. The parser is going to get a major overhaul soon which will resolve that second issue. I'll look into the CSRF token.

[2016-04-10 20:20] Hackmastr opened #203 "Search"
[code]

URL: /search

[2016-04-10 20:22] euantorano commented on #203
Yep, this is a known issue due to the auth package rewrite.

[2016-04-10 20:23] Hackmastr opened #204 "[Bug] Error on showing likes as Guest"
The topic page is rendered, but it shows this error:

[code]

*hope im not flooding this*

[2016-04-10 20:31] euantorano commented on #204
Thanks for the report, that's definitely an issue.

[2016-04-10 20:40] Hackmastr opened #205 "[Bug] QueryException"
Signing up bug, it throws an error:
[code]
*however*, the user is registered, but not given a group(user), but if You go back(without login in), and press the *members* link, an error is thrown:

[code]

[2016-04-10 20:44] euantorano commented on #205
Very interesting, thanks for the report. I've not looked at registration in a while.

[2016-04-10 20:54] Hackmastr opened #206 "[Bug] Viewing profiles as Guest"
An error is thrown:

[code]

If the user logs in, he can view them just fine.

[2016-04-10 21:06] Hackmastr opened #207 "[bug"

[2016-04-10 21:27] euantorano commented on #207
Yep, we haven't done much testing with guest permissions and stuff yet. I completely broke permissions whilst updating the auth package, so I need to fix that first.

[2016-04-10 21:27] euantorano commented on #206
Again, looks like a lack of permission checking.

[2016-04-10 21:29] Hackmastr opened #208 "[Bug][UI] Signup / Login links"
[code]
Doesn't work, if we hardcode it to:

[code]
It works

[2016-04-10 21:32] euantorano commented on #208
Interesting. I need to look at what `modal_attributes` actually does.

[2016-04-10 22:00] Hackmastr commented on #208
@euantorano can You please tell me more about modal_attributes?

[2016-04-11 10:48] Hackmastr commented on #202
@euantorano is this a good fix?

[code]

[2016-04-11 12:41] euantorano commented on #202
@Hackmastr yes, that should work I think, but the parser is going to get a major overhaul to make use of https://github.com/s9e/TextFormatter - which includes smileys and everything already :smile:

[2016-04-11 14:25] Matslom opened #209 "Turn off global timestamps in models"
We don't always need update timestamps on update model. Models like users/topics/posts should have turned off timestamps in models. We can trigger this when we need it (e.g edit post/user profile).

[2016-04-11 15:47] euantorano commented on #209
They're fairly useful in some places (such as users which IIRC are only edited when editing profiles - could be wrong), but they should be disabled where they don't help.

[2016-04-11 15:56] Matslom commented on #209
Yea they useful, but in some places (like users/posts) they are only needed on create and edit content. Now, they are triggered on every session refresh (save location/last visit) and refresh counters (like post num/thread num). You have more places where they are don't help than help.

[2016-04-11 16:24] euantorano commented on #209
True. It's easy enough to disable them. I'll create a patch.

[2016-04-11 16:56] #204 closed

[2016-04-11 17:03] euantorano commented on #209
Ok, disabled for some key models.

[2016-04-22 21:55] PaulBender opened #213 "ErrorException when editing post"
If I attempt to edit a post, I get this error message:

[code]

The issue seems to be with breadcrumb on the edit page missing a required parameter (postId).

[2016-04-22 22:19] #213 closed

[2016-05-10 07:42] aa6my opened #216 "No class is registered"
No class is registered for content type 'forum'
/vagrant/htdocs/mybb2/app/Permissions/PermissionChecker.php#86

Any idea to solve this one?

[2016-05-10 07:57] euantorano commented on #216
Hi,

Interesting. Where do you get this error? Have you ran all of the migrations (`php artisan migrate`)?

[2016-05-10 07:58] aa6my commented on #216
yes, already migrate. php artisan migrate.

[2016-05-10 08:10] euantorano commented on #216
Hi,

What is the URL of the page? That might help me narrow the cause down. Unfortunately I'm at work at the minute so I can't do a lot to try and fix it until later.

[2016-05-10 08:12] aa6my commented on #216
http://localhost/mybb2/

using vagrant without homestead

[2016-05-10 08:14] euantorano commented on #216
Very interesting. I'll have to look into this, as I've never seen it happen on the index page. Thanks for the report!

[2016-05-10 08:15] aa6my commented on #216
@euantorano welcome

[2016-05-10 11:26] aa6my commented on #216
Everything fixed
php artisan migrate
php artisan db:seed

[2016-05-10 11:26] #216 closed

[2016-05-22 22:57] JoshyPHP commented on #193
Hi. I'm s9e\TextFormatter's author. Feel free to tag me, mention me or use whichever notification system is in place to alert me if I miss any related discussion.

@euantorano I'm not surprised you've never heard of it because I haven't advertised it outside of forum software's own forums, such as [MyBB's dev forum](http://community.mybb.com/post-1016482.html). I'm fine with NBBC being the top res

[2016-05-22 23:35] Destroy666x commented on #193
It definitely looks interesting

[2016-05-23 06:16] euantorano commented on #193
Hi,

Thanks for contacting us. I'm not surprised I missed it, given that thread was 2013 - we're pretty slow at development!

We have discussed this as a team and it looks like we will be using TextFormatter, I'm just going to write a small wrapper around it to add some of our slightly different MyCodes.

[2016-06-16 20:12] JoshHarmon commented on #206
I think I see what's wrong. We're getting the currently authenticated user (null for guest) from the guard and trying to fetch its profile field repository.

[2016-06-16 20:23] euantorano commented on #206
Yes, the past version of the auth package returned a default User for guests. We need to fix the conditions elsewhere to handle the new default case (null).

[2016-06-25 20:57] chack1172 opened #218 "Issues in some pages"
I installed mybb 2.0 repositories on xampp and I have some issues in some pages.
For example in user profile page I get this and another 2 errors:
ErrorException in profile_basic.twig line 6: An exception has been thrown during the rendering of a template ("Argument 1 passed to MyBB\Core\Database\Repositories\Eloquent\UserProfileFieldRepository::hasForProfileField() must be an instance of MyBB\Cor

[2016-06-25 21:03] euantorano commented on #218
Hi, these are known issues due to ongoing changes to the permissions and authentication system.

[2016-06-25 21:16] chack1172 commented on #218
Thanka for your reply, I thought it was a xampp error

[2016-06-26 12:09] chack1172 opened #219 "Issue"
Hi, I installed this developement repositories in my pc and it works.
I copied the files in an hosting and I get this error:
Whoops, looks like something went wrong.

How to solve?

[2016-06-26 12:18] euantorano commented on #219
Hi,

You need to make sure debug mode is enabled in the .env file or check your error log to see what the actual error is.

[2016-06-26 12:21] chack1172 commented on #219
This is my .env file. Do I have to edit APP_ENV?

APP_ENV=local
APP_DEBUG=true
APP_KEY=DW4VX7c0BN99e3L7AzGTBA2DOsbOYAfx

DB_HOST=localhost
DB_DATABASE=mybb2
DB_USERNAME=
DB_PASSWORD=my_mybb2

CACHE_DRIVER=file
SESSION_DRIVER=file

[2016-06-26 13:52] chack1172 commented on #219
Now it works
I had to edit file config/database.php and change
env('DB_DATABASE', 'forge')
in
env('DB_DATABASE', 'my_mybb2')

[2016-06-26 13:53] #219 closed

[2016-06-26 14:01] euantorano commented on #219
Hi, yeah until we write an installer, you have to modify that file.

[2016-06-26 16:40] Matslom commented on #195
It's will be removed and all forms will be created using normal html tags?
I've started doing user management in ACP. What way i should create forms?

[2016-06-26 17:00] euantorano commented on #195
Yes, that's the plan. To create forms, you should write the normal HTML for a form, and use `{{ url_route() }}` to crate the URL the form submits to 😄

[2016-06-26 21:26] chack1172 opened #220 "Poll page"
Hi,
there's a problem with date-picker in poll page:
![mybb2_poll](https://cloud.githubusercontent.com/assets/12584098/16365043/64af187e-3bf5-11e6-9766-90a64a23bf68.png)

[2016-06-26 21:52] euantorano commented on #220
Looks like either a JS or CSS issue. I'll have a look.

[2016-06-26 22:07] chack1172 opened #221 "User page"
I'm trying to fix some issues of the repositories.
I fixed user page but I have 2 alternatives.
Which one you are going to use?
![user_1](https://cloud.githubusercontent.com/assets/12584098/16365254/15c86cc8-3bfb-11e6-9383-a3495992ba1e.png)
![user_2](https://cloud.githubusercontent.com/assets/12584098/16365255/15d027f6-3bfb-11e6-9cc1-4c99ed3d866d.png)

[2016-06-27 01:03] JoshHarmon commented on #219
@chack1172 Don't edit the config/database.php file because you'll always have to exclude it from git stuff. The right thing to do to get what you want is change DB_DATABASE in the .env file.

env() checks if the first thing is defined in the .env file, and if not, falls back to the second parameter's value.

[2016-06-27 04:06] euantorano commented on #221
Hi, what are the URLs of the pages? I thought there was only meant to be one user page, with different content depending on what profile fields are filled out.

[2016-06-27 04:30] JoshHarmon opened #222 "Preparing for Laravel 5.3"
Laravel 5.3 is [currently slated for a release around the same time as Laracon (July 27-29th)](https://laracasts.com/discuss/channels/general-discussion/laravel-53-wish-list), which means it could very well be less than a month away (I assume they'd want to release before the conference). It will only support PHP 5.6+, 7.0+, and HHVM. As we previously decided to track the latest release of Laravel

[2016-06-27 05:51] chack1172 commented on #219
I changed it but it tryed to conneto to database forge

[2016-06-27 09:20] chack1172 commented on #221
euantorano the url is only one:
mysite.com/public/index.php/user/1/Admin

So the correct page is the second image?

[2016-06-27 09:45] euantorano commented on #221
Yes, the second one looks right to me. The two are similar, the only difference is that empty fields are hidden in the second image.

[2016-06-27 09:46] euantorano commented on #221
There are some issues with the styling though. The registration date should all be on one line, same with visit date. Paging @justinsoltesz!

[2016-06-27 09:48] euantorano commented on #222
I have no problem with the upgrade when it happens, but we need to make sure we don't end up using a version that isn't going to work on the majority of hosts. 5.2 requires PHP >5.5.9, 5.3 requires >5.6. We've already hanged our minds a few times about version requirements, so the benefits of the updated framework need to outweigh that IMO.

[2016-06-27 09:49] euantorano commented on #218
Yeah, I really need to finish the new permissions system. I'll make it a priority this week.

[2016-06-27 09:51] chack1172 commented on #221
Ok, I have another questions.
If I go to Admin profile I see the two profile fields because I set them in the database.
If I go to another user (e.g. Registered) I see the two fields empty, why they aren't hidden?
![user_3](https://cloud.githubusercontent.com/assets/12584098/16375793/8828bea0-3c5d-11e6-9da0-c67a3fa7de62.png)

[2016-06-27 10:15] euantorano commented on #221
They should be hidden, there's obviously something missing in the query. This method probably needs to exclude `NULL` profile fields: https://github.com/mybb/mybb2/blob/master/app/Database/Repositories/Eloquent/ProfileFieldRepository.php#L66

I'll have a look tonight after work.

[2016-06-27 11:04] chack1172 commented on #221
euantorano I only changed function hasForProfileField() in app/Database/Repositories/Eloquent/ because $user is not passes/empty/null.
[code]

[2016-06-27 11:07] euantorano commented on #221
Yep, that would also do it. `$user` is null for guests (which will be changed soon).

[2016-06-27 11:13] chack1172 commented on #221
Why is it null for guests? It shouldn't contain user data we are looking at?

[2016-06-27 11:34] euantorano commented on #221
Oops, it shouldn't be null actually. I was thinking `$user` was the currently logged in user. It should never be null for that method. if it is, there's another problem somewhere.

I'm still at work right now so it's difficult for me to debug until I get home unfortunately.

[2016-06-27 13:04] chack1172 commented on #208
I changed modal url in ModalAttributes.php file, I added also index.php because my hosting is stupid.
https://github.com/chack1172/mybb2/commit/1d0ceba9b9e9d2363640536889ff5292b3230358

[2016-06-27 14:40] chack1172 opened #223 "Timestamps"
In one of the last commits there's a problem.
https://github.com/mybb/mybb2/commit/a33e0fbc2c002dc7069c978e6fd049ab4b7dd68d?diff=unified#diff-e6a42cbe15e7b8610cb2e34cf5f38577

`$timestamps` should be public or we get this error:
Access level to MyBB\Core\Database\Models\User::$timestamps must be public (as in class Illuminate\Foundation\Auth\User)

[2016-06-27 14:55] euantorano commented on #223
Yep, @JoshHarmon can you revert that change or shall I create a patch?

[2016-06-27 16:31] JoshHarmon commented on #223
Yeah... The code sniffer led me astray there. I'll patch it up.

[2016-06-27 17:16] JoshHarmon commented on #223
Fixed in #226

[2016-06-27 17:16] #223 closed

[2016-06-27 18:32] chack1172 opened #227 "Registrations"
Hi, I "fixed" registrations in my copy but 'created_at' and 'updated_at' aren't inserted. I tried to change the code but the query didn't change.

https://github.com/chack1172/mybb2/commit/4a3b14a140f87e4da300714b1a0089d6568614d5

[2016-06-27 18:55] Matslom commented on #227
I fixed one issue here https://github.com/mybb/mybb2/pull/224
They are protected I think. U need to use timestamps = true for user model.

[2016-06-27 19:45] chack1172 commented on #227
Will this change add created_at and updated_at?

[2016-06-28 16:19] chack1172 commented on #227
@euantorano I fixed registration in my copy:

https://github.com/chack1172/mybb2/commit/54acab42e31031bf1654f07f7f11bdfaaddc983c
https://github.com/chack1172/mybb2/commit/e411c3f92fd8abc079add46ad4291fb68a6693e3

[2016-06-28 16:20] #227 closed

[2016-06-28 18:05] euantorano commented on #227
Nice one, thanks!

[2016-07-01 17:54] Augustino7 opened #230 "ReflectionException in Container.php line 794: Class MyBB\Parser\MessageFormatter does not exist"
I got the following error

Whoops, looks like something went wrong.
1/1 ReflectionException in Container.php line 794: Class MyBB\Parser\MessageFormatter does not exist

    in Container.php line 794
    at ReflectionParameter->getClass() in Container.php line 794
    at Container->getDependencies(array(object(ReflectionParameter), object(ReflectionParameter), object(ReflectionParameter), object(R

[2016-07-01 17:55] euantorano commented on #230
Hi,

This is a known issue due to the ongoing parser rewrite. I’ll push a patch tonight for it, but the parser isn’t yet complete.

[2016-07-01 17:57] Augustino7 commented on #230
Ok, thank you

[2016-07-02 18:52] Augustino7 commented on #230
can you tell me when this resolved this issue?

[2016-07-02 20:10] euantorano commented on #230
Hi, I will try and get a chance to fix it tomorrow.

MyBB 2 isn't ready for use on a live forum anyway, so there's no real rush.

[2016-07-03 09:31] euantorano commented on #230
This is now fixed, though 2.0 still isn't ready for user on a live board and is aimed at developers in its current state.

[2016-07-03 15:06] Mihu90 opened #232 "FatalThrowableError in RenderUserProfileLink.php"
Hello everyone!

My name is Mihai and I am trying to set a local environment for current MyBB 2 sources. I have followed the instructions posted on wiki, but I am still getting an error:
Type error: Argument 1 passed to MyBB\Core\Twig\Extensions\RenderUserProfileLink::renderProfileLink() must be an instance of MyBB\Core\Presenters\User, instance of MyBB\Core\Presenters\UserPresenter given, called

[2016-07-03 15:16] euantorano commented on #232
Hi, this is a bug in the code, and isn't linked to your PHP version. I'll look at it and patch it later today.

[2016-07-03 15:19] Mihu90 commented on #232
Ok. Thank you :)

[2016-07-03 17:26] Augustino7 commented on #230
I updated the mybb2 and again get the following error:

Fatal error: Uncaught ReflectionException: Class log does not exist in /home/Augustino/Homestead/Code/mybb2/vendor/laravel/framework/src/Illuminate/Container/Container.php:734 Stack trace: #0 /home/Augustino/Homestead/Code/mybb2/vendor/laravel/framework/src/Illuminate/Container/Container.php(734): ReflectionClass->__construct('log') #1 /home/

[2016-07-03 18:18] euantorano commented on #230
Hi,

Which page(s) does this happen on? The `log` name should be registered by the framework.

[2016-07-03 20:00] Augustino7 commented on #230
I solved the log problem, was a problem with laravel, **but again I got the following error**:
The problem is index.php

Whoops, looks like something went wrong.
1/1 FatalThrowableError in RenderUserProfileLink.php line 68: Type error: Argument 1 passed to MyBB\Core\Twig\Extensions\RenderUserProfileLink::renderProfileLink() must be an instance of MyBB\Core\Presenters\User, instance of MyBB\Core\Pr

[2016-07-03 20:08] euantorano commented on #230
Yep, this was reported earlier and is a bug. I'll try and fix it as soon as I can.

[2016-07-04 22:18] #230 closed

[2016-07-04 22:19] JoshHarmon commented on #230
I think it should be fixed now, @Augustino7. I missed that reference to the old presenter class name (along with many others) when I carried out the initial renaming. Let us know if there are any more issues you see.

[2016-07-04 22:20] JoshHarmon commented on #232
Should be fixed in commit 2de2a0ad98e10b121ec3b9a7873ffca2d38cf406

[2016-07-04 22:20] #232 closed

[2016-07-05 03:07] Augustino7 commented on #230
I again got the following error in index.php

Whoops, looks like something went wrong.
1/1 ErrorException in Filesystem.php line 109: file_put_contents(/home/Augustino/Homestead/Code/mybb2/storage/framework/sessions/3599b02745e8cc0edb661e102794520d182fafa4): failed to open stream: No existe el fichero o el directorio

    in Filesystem.php line 109
    at HandleExceptions->handleError('2', 'file_p

[2016-07-05 03:18] Augustino7 opened #233 "Index, Mytopic, profile"
Index got following error

Whoops, looks like something went wrong.
1/1 ErrorException in Filesystem.php line 109: file_put_contents(/home/Augustino/Homestead/Code/mybb2/storage/framework/sessions/3599b02745e8cc0edb661e102794520d182fafa4): failed to open stream: No existe el fichero o el directorio

    in Filesystem.php line 109
    at HandleExceptions->handleError('2', 'file_put_contents(/home/A

[2016-07-05 09:28] euantorano commented on #233
Hi,

The errors relating to `ErrorException in Filesystem.php line 109: file_put_contents` mean you haven't set the correct permissions on `./storage`. An easy fix is to manually create the `./storage/framework/sessions` folder.

The other issues are bugs which we will look into.

In the future, can you please create a separate issue for each error? That makes it a lot easier to track.

[2016-07-05 13:42] Augustino7 commented on #233
Ok, I am sorry, I will do it, in separate issue for each error

I have a question, the templates section in admin panel still is not ready?

[2016-07-05 14:02] euantorano commented on #233
@Augustino7 No, the theming and template system has not been written yet, same with most of the ACP. There's still a _lot_ of work to do.

[2016-07-23 18:22] Mx13Cyber commented on #188
I've got this problem
When I click on Login/Signup, but the Model was placed at the bottom of the screen and can not be seen

[2016-07-23 18:23] euantorano commented on #188
Hi,

Yes this is a known issue caused by some recent JS/CSS changes. We're going to be rewriting the JS soon to make use of ES modules.

[2016-07-23 18:35] Mx13Cyber opened #237 "wrong notifications url"
in the `welcomeblock_member.twig` is not set true url
Should look like this
`<a href="{{ url_route('account.notifications') }}" class="multi-link">`

[2016-07-23 18:37] euantorano commented on #237
Hi,

Notifications ar not yet implemented, which is why that link is not in place.

[2016-07-23 18:37] #237 closed

[2016-07-23 19:00] Mx13Cyber opened #238 "The method 'created_at' was not found on the presenter class"
for now i have this error
ErrorException in list.twig line 25:
An exception has been thrown during the rendering of a template ("The method 'created_at' was not found on the presenter class 'MyBB\Core\Presenters\UserPresenter'.") in "C:\Wamp\www\mybb2\mybb2\resources\views/member/list.twig" at line 25.

[2016-07-23 19:01] euantorano commented on #238
Hm, I'll look into this tomorrow.

[2016-07-23 19:05] Mx13Cyber opened #239 "Undefined index: time_format"
[code]

[2016-07-23 19:07] euantorano commented on #239
Hi,

What did you do to cause this error? Simply providing the error message isn't of much help when working out the cause of a bug.

[2016-07-23 19:11] Mx13Cyber commented on #239
when select time format in account/preferences
then update preferencesshow that error
if again go to account/preferences dont stored that setthing then if dont select time format
i think should set default setthimg for time format

[2016-07-23 19:13] euantorano commented on #239
Hi,

I think it's more a problem with our validation rules, which are in the wrong place anyway (they should be in a request class).

[2016-07-23 19:15] Mx13Cyber opened #240 "class 'MyBB\Core\Database\Repositories\Eloquent\MessageFormatter' not found"
when create topic
[code]

[2016-07-23 19:16] euantorano commented on #240
Hi,

This is a known error due to ongoing changes being made to the message parser.

[2016-07-23 19:16] #240 closed

[2016-07-24 14:35] chope1 opened #241 "No class is registered for content type 'forum'."
I got this error while running the latest installation -

[code]

[2016-07-24 14:38] euantorano commented on #241
Did you run the database seeds?

php artisan db:seed

[2016-07-24 14:59] chope1 commented on #241
Thanks mate, I totally forgot. It's working now but with some errors.
I am actually testing it in a live server @ http://mybb2.techngr.com

[2016-07-24 15:02] euantorano commented on #241
Yes, there are still a lot of bugs and issues that were working through.

[2016-07-24 15:03] chope1 commented on #241
Ok, I'll be reporting some soon.

[2016-07-24 15:09] euantorano commented on #241
Some already have open issues, such as any relating to the MessageFormatter, others might have been missed. It's still very much a work in progress!

[2016-07-24 15:13] chope1 commented on #241
Ok, from just a little test it seems the most obvious one is the `TokenMismatchException in VerifyCsrfToken.php line 67:`
in register, post topic, reply, login ... anywhere authentication is required.

[2016-07-24 15:45] euantorano commented on #241
Hi, that's an odd one. None of the team are getting that one, though it could be a bug I've introduced recently.

[2016-07-25 18:15] #241 closed

[2016-08-14 08:46] matthijs110 commented on #222
There is way more to change. I think it would be easier and better to install a fresh Laravel 5.3 installation and add each functionality bit by bit. Some many things are too old or nearly deprecated.

[2016-08-14 08:49] euantorano commented on #222
@matthijs110 We'll evaluate it when 5.3 is released. We managed to upgrade to 5.2 without too much hassle in the end. The Laravel dev usually put out  good upgrade guide.

[2016-08-21 16:34] Siprah opened #244 "Use php-intl for translation instead of built in Laravel's translator"
My friend made that package for Laravel for better language support than built in solution: https://github.com/Skysplit/laravel5-intl-translation

You can say, why? So, currently it is impossible to properly format plural rules in many languages, as in some languages' rules are not just ranges, but often require modulo operations etc. `MessageFormatter` allows it.

For example, let's use Polish wo

[2016-08-21 16:45] Siprah opened #245 "Use Vue.js (or another framework) for front-end?"
Hi!

As Laravel 5.3 are coming, it gives us better support of JavaScript framework. Laravel recommends Vue.js

So, maybe is a good time to use it in MyBB 2.0? I'm a very big fan of that solutions, it gives us optimized requests (Servers just loves it), faster and easier solutions than pure jQuery methods and more.

[2016-08-21 17:23] euantorano commented on #245
Hi,

The JS is going to be rewritten (and using modern ES6 standards), but we've not yet settled on a  framework. I've looked at Vue and it has some nice features, but is still quite young as a framework which could cause some problems should it stop being actively developed during 2.0's lifetime.

[2016-08-21 17:26] euantorano commented on #244
Hi,

I wasn't aware of these problems in the standard `Lang` package, if it doesn't support those required features, we will have to look elsewhere for definite. Thanks for bringing it to our attention!

[2016-08-21 17:39] Siprah commented on #244
That's great, thanks! 😄

[2016-08-23 12:53] chope1 opened #247 "Unexpected Error During Installation."
I got this error after running
`Composer Install`
PHP Parse error:  syntax error, unexpected ':', expecting ';' or '{' in /var/www/..../mybb/app/Widgets/Registry.php on line 87

  [Symfony\Component\Debug\Exception\FatalErrorException]
  syntax error, unexpected ':', expecting ';' or '{'

[2016-08-23 14:03] euantorano commented on #247
Hi,

Which version of PHP are you running (you can find out by running `php -v` at the command line). MyBB 2.0 requires PHP 7.0 as it makes use of scalar type hints and return hints.

[2016-08-23 18:01] chope1 commented on #247
PHP 5.5.9
Wasn't aware Mybb2 requires PHP 7, shame I cannot upgrade he existing one because my forum Mybb 1.8 is running on it with many plugins which will probably break it.
I will have to get another instances to with fresh PHP 7 installation.
Thanks.

[2016-08-23 18:11] euantorano commented on #247
Hi, MyBB 2.0 is not ready to run on a live forum anyway, and there is not currently a way to upgrade from 1.8.

[2016-08-23 18:17] chope1 commented on #247
I know, not trying to upgrade from 1.8. I am running the test separately, the upgrade I mean is PHP not Mybb. Thanks.

[2016-08-23 18:18] euantorano commented on #247
Ah, fair enough!

[2016-08-28 19:01] chack1172 opened #249 "map file"
Sorry guys this is not a issue but a question.
I'm changing admin.css file and then I have to do a pull request.
Do I have to change admin.css.map too? Do I have to change it manually?

[2016-08-28 19:17] euantorano commented on #249
Hi,

The CSS is generated from the SASS files in resources/sass. Please edit these files rather than the CSS, then run the Gulp tool. For more information, please see the wiki associated with this repository.

[2016-08-28 19:18] chack1172 commented on #249
Thank you for the response euantorano :)

[2016-08-28 19:48] chack1172 commented on #249
@euantorano I nevere used sass, is it correct?
Template:
`<table class="admin-table admin-table--bordered users">
        <thead>
            <tr>
                <th colspan="2">{{ trans('admin::users.avatar_field') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="avatar-cell">
                    <img src="{{ u

[2016-08-28 19:51] euantorano commented on #249
Looks right to me, but I'll need to test it once you create a pull request :smile:

[2016-08-28 19:52] chack1172 commented on #249
You have to wait for the pull request, it is an hard edit for me :o never used laravel too

[2016-08-28 19:53] euantorano commented on #249
Not a problem, any help is appreciated!

[2016-08-28 20:39] chack1172 commented on #249
Ok I used `gulp watch` to change files.
There's a litte problem:
`- resources\assets\sass\rtl.scss <-- Not Found`

[2016-08-28 20:55] euantorano commented on #249
Interesting. I've maybe broken that one at some point. If you just commit your changed files and make a Pull Request I can fix it.

[2016-08-28 21:01] chack1172 commented on #249
The problem is in the file gulfile.js at line 51
https://github.com/mybb/mybb2/blob/master/gulpfile.js

The file rtl.scss doen't exists
https://github.com/mybb/mybb2/tree/master/resources/assets/sass

[2016-08-28 21:06] euantorano commented on #249
Yeah, the file should exist, unless it's been removed recently. It provides right to left support for text in the ACP. I'll look into it, but feel free to just submit a PR with the sass.

[2016-08-29 14:13] chack1172 commented on #249
How ho I set a default value to form_select if a variable doesn't exists?

`{{ form_select('role', roles, role ? role.id) }}`

[2016-08-29 15:53] euantorano commented on #249
Hi, the third parameter is the default value (as [seen here](https://github.com/LaravelCollective/html/blob/5.3/src/FormBuilder.php#L538)). I'm not sure what it is that you're trying to do, but the `role ? role.id` will set the default to the role's ID if the role isn't null.

[2016-08-29 15:56] chack1172 commented on #249
I meant if role was null, but now I know how to do that:

`{{ form_select('role', roles, role ? role.role_slug : 'user') }}`

[2016-08-29 15:58] chack1172 commented on #249
When I commit the changes, do I have to update admin.css, admin.css.map, admin_rtl.css and admin_rtl.css.map?

[2016-08-29 16:01] euantorano commented on #249
Gi,

Gulp will do that, but it's broken at the minute. If you just commit the SASS, I can generate the CSS and map files.

[2016-08-29 16:23] chack1172 commented on #249
I'm trying to send a pull request but it select my past commit and devilshakerz commit too. How could I send only my last commit of my fork?

[2016-08-29 16:24] euantorano commented on #249
Hi,

Did you create a new branch before starting doing your work? That's the way that we recommend doing things.

[2016-08-29 16:25] chack1172 commented on #249
No, I didn't. I didn't know that

[2016-08-29 16:27] chack1172 commented on #249
I revert changes and create a new brach

[2016-08-29 16:29] euantorano commented on #249
Ah, we should probably make our recommendations a bit more obvious, perhaps in the README file.

[2016-08-29 17:03] chack1172 commented on #249
Finally I've done it :) Now how do I update my master with edits?

[2016-08-29 17:41] euantorano commented on #249
Hi,

If you push your branch, then you should be able doc create a pull request from that branch to `mybb2/master` :smile:

[2016-08-29 17:44] chack1172 commented on #249
Ok. I've done the pull request

[2016-08-29 18:08] chack1172 commented on #249
For validation do I have to do something like the page below?
https://github.com/mybb/mybb2/blob/master/app/Http/Requests/Account/UpdateProfileRequest.php

[2016-08-29 18:20] euantorano commented on #249
Yep, something like that. For some more information, see here: https://laravel.com/docs/5.3/validation#form-request-validation <https://laravel.com/docs/5.3/validation#form-request-validation>

[2016-08-30 14:43] chack1172 commented on #249
@euantorano can you help me updating my fork with latest edits? I tried many times but it adds a new commit:
https://github.com/chack1172/mybb2/commits/master

[2016-08-30 15:59] euantorano commented on #249
Hi,

You need to do a `rebase` rather than a pull. For more information, please see here: https://robots.thoughtbot.com/keeping-a-github-fork-updated

We need to really document this stuff properly. I'll try and put out a dev post on our blog about our recommended workflow this week.

[2016-08-30 17:23] chack1172 commented on #249
@eyabtirabi how do I use Request validation for this? I need the id
`$user = $this->userRepository->find($id);

        $validator = $this->validator->make($request->all(), [
            'name'      => 'required|max:255|unique:users,name,'.$user->id,
            'email'     => 'required|email|max:255|unique:users,email,'.$user->id,
            'password'  => 'confirmed|min:6',
            'usertit

[2016-08-30 17:27] euantorano commented on #249
Hi,

Is the user the current logged in user, or the user being edited? If it's the latter, you can use to IoC container to inject the user repository or model and look the user up. If you want, I can do it for you tomorrow.

[2016-08-30 17:50] chack1172 commented on #249
user being edited.
Could I have an example?

[2016-08-30 19:06] euantorano commented on #249
Hi,

There are none in the core, I would just leave it as it is for now and I'll fix it later and show you what I mean :smile:

[2016-08-31 19:50] chack1172 commented on #249
Maybe I know how to do that or maybe not xD I'll let you know

[2016-08-31 21:23] chack1172 commented on #249
It show me this error when i post edit user form :(
Class MyBB\Core\Http\Requests\User\SaveUserRequest does not exist

In UserController I inserted this:
use MyBB\Core\Http\Requests\User\SaveUserRequest;

SaveUserRequest.php:
`<?php
/**
 * User create request.
 *
 * @author    MyBB Group
 * @version   2.0.0
 * @package   mybb/core
 * @license   http://www.mybb.com/licenses/bsd3 BSD-3
 */

namespac

[2016-09-01 06:15] euantorano commented on #249
Hi,

Did you run composer dump-autoload?

[2016-09-01 11:15] chack1172 commented on #249
There was a problem in rules function, I fixed it before send the pull request.
What do you think about the new create user request?

[2016-09-01 11:57] euantorano commented on #249
Looks good to me. We did notice that editing a user will set their password to an empty string though if you don't include one. This line: https://github.com/mybb/mybb2/blob/master/app/Http/Controllers/Admin/Users/UserController.php#L94

Should be:

[code]

Or something like that, anyway. I haven't tested it yet :smile:

[2016-09-01 12:00] chack1172 commented on #249
I forgot to test it.
Today I'll test and modify it

[2016-09-01 12:28] euantorano commented on #249
Nice one, thanks!

[2016-09-01 14:47] chack1172 commented on #249
Hei @euantorano `$user->freshTimestamp();` doesn't work. updated_at isn't updated

[2016-09-01 14:52] Matslom commented on #249
Hi @chack1172 use ` $user->setUpdatedAt($user->freshTimestamp())->save();` it should work.

[2016-09-01 15:03] chack1172 commented on #249
Hi @Matslom thank you, I saw now that updated_at isn't in fillable array

[2016-09-01 15:26] Matslom commented on #47
If noone is working on it, I will try implement this.

[2016-09-01 16:04] euantorano commented on #47
Nobody is working on it as far as I know, so feel free :)

[2016-09-01 20:32] JordanMussi commented on #160
Now minimum of PHP 7.0: https://community.mybb.com/thread-195675.html

[2016-09-01 20:39] #247 closed

[2016-09-01 20:45] JordanMussi commented on #222
So 5.3 is out... https://laravel.com/docs/5.3/upgrade#upgrade-5.3.0

[2016-09-01 20:47] #233 closed

[2016-09-01 20:51] JordanMussi commented on #209
I assume that #210 fixed this.

[2016-09-01 20:51] #209 closed

[2016-09-01 20:53] JordanMussi commented on #238
Tomorrow was a long time ago now :wink:

[2016-09-01 21:09] euantorano commented on #222
Yep, I'll be looking at going through the upgrade soon, hopefully this weekend. I also need to try and fix our errors in Travis related to HHVM.

[2016-09-01 21:11] euantorano commented on #47
@Matslom Before starting this, we should probably discuss what we want out of the warning system and how it should work/look. If you've got some ideas, feel free to contact me on here, on Discord, or on the forums (I'm `Euan T` on the forums) and we'll discuss it.

The first step would be working out the database structure and the required models/repositories.

[2016-09-01 21:12] JordanMussi commented on #222
HHVM isn't supported by 5.3 so we don't need Travis to check HHMV surely...?

[2016-09-01 21:14] euantorano commented on #222
@JordanMussi It's not officially supported, but it would be nice to know that we can run on it to be sure. As far as I know the base 5.3 framework will work just fine on HHVM as it stands.

[2016-09-01 21:16] JordanMussi commented on #222
@euantorano Ah fair enough! :grinning:

[2016-09-01 21:18] #196 closed

[2016-09-01 22:26] chack1172 commented on #249
@euantorano I have a problem. I tried to delete all files to reinstall it but I can't delete some files because the path is too long. What do you suggest?

The path is:
C:\xampp\htdocs\mybb2\node_modules\gulp\node_modules\gulp-util\node_modules\dateformat\node_modules\meow\node_modules\normalize-package-data\node_modules\validate-npm-package-license\node_modules\spdx-correct\node_modules\spdx-lice

[2016-09-01 23:11] chack1172 commented on #249
I updated mybb2 in my local website and now in console there's this error:
ReferenceError: Modernizr is not defined

I tried to use the command `composer require modernizr` with cmd and it show me this error:
[InvalidArgumentException]
Could not find package modernizr at any version for your minimum-stability (dev). Check the package spelling or your minimum-stability

[2016-09-02 00:17] JoshHarmon commented on #160
Changed issue title for clarity.

[2016-09-02 08:49] euantorano commented on #249
Hi, yeah that's a known issue (see the `TODO: modernizr...` in [`gulpfile.js`](https://github.com/mybb/mybb2/blob/master/gulpfile.js#L12)).

I'm looking at the best way to use modernizr. We don't need the whole modernizr library (if at all? Paging @justinsoltesz  and @Eric-Jackson...), only some of the components.

[2016-09-02 13:11] Matslom commented on #238
I explained this bug here https://github.com/mybb/mybb2/pull/253#issuecomment-244076408

[2016-09-02 13:28] euantorano commented on #238
Yeah, as @Matslom said, it seems to be caused by null values. The values should never be null, so the seeds need updating to set the `created_at`, `updated_at` and `last_visit` values.

[2016-09-02 14:19] Matslom commented on #47
Long post, sorry for my poor english.
I think that we should give warning system more freedom for plugins, as in the "Like system". I.e. content_type (to specify model (Post/Topic)) and content_id.
For now I have one table.
[code]

Do we need column for notes?

Acknowledge with warning - https://community.mybb.com/thread-195011.html
I think that we can just block forum and show last and all active

[2016-09-02 14:34] euantorano commented on #47
Looks good, but revoke reason should maybe be text?

[2016-09-02 14:52] euantorano commented on #47
Nice one, thanks!

[2016-09-05 13:44] chack1172 commented on #249
There's something that I can do to help you? I don't have ideas...

[2016-09-05 14:10] euantorano commented on #249
There's not much you can do to help with the modernizr issue, I'm not sure what your strengths are? Obviously you know at least a bit of PHP, are you any good with JS?

There's always work to do, if I know what you're best at, we can guide you to the right place 😄

[2016-09-05 14:11] chack1172 commented on #249
Maybe it's better that I focus on php xD

[2016-09-05 14:18] euantorano commented on #249
Fair enough, there's plenty to do there too! One of the big jobs I will be doing soon is the move to Laravel 5.3, which I need to do. Other than that, there are a couple of big things that could be worked on:

* Show the number of likes a user has made/received on their profile (this will need to look at forum permissions, once we've made them - for now it can be a simple count).
* Reporting posts

[2016-09-05 14:21] chack1172 commented on #249
Ok, thank you.

[2016-09-05 14:23] euantorano commented on #249
I believe you also have my email if you prefer that to talk and get things planned - GitHub notifications aren't very good for me (they don't always show up until a long time after something is commented).

[2016-09-05 14:24] chack1172 commented on #249
All my staff use discord, it's ok :)

[2016-09-05 20:13] LiveChief opened #256 "Add 2FA USB Support"
Can u guys add a feature where you can lock your account with a USB (FIDO U2F Security Key) so its extra layer of security since hackers are now social engineering phone companies to get a copy of your sim card.
More Info On This Here: https://www.youtube.com/watch?v=LlcAHkjbARs

[2016-09-05 20:31] euantorano commented on #256
Hi,

Suggestions should be made on the forum please, allowing the community to discuss them.

Thanks!

[2016-09-05 20:32] #256 closed

[2016-09-08 08:58] premiumcuyuz commented on #45
all features fixed?

[2016-09-08 09:13] euantorano commented on #45
@premiumcuyuz Not quite, the JavaScript is still broken, and I don't believe topic level moderation is implemented yet.

We've also been discussing renaming things and having an approval queue in the moderator control panel (which isn't yet created).

[2016-09-18 15:00] Matslom commented on #47
I have some idea.
Saving snapshot warned content. Example:
You warn user for post and actual post content is forever saved in warn as snapshot for future preview.
Often posts are deleted after warning user and you don't have any preview.

[2016-09-18 15:04] euantorano commented on #47
Makes sense to me.

[2016-09-22 21:27] adiantek opened #260 "Anti-IPLogger"
Will be avaiable anti-iplogger? For example, when user add [img], MyBB will be download with timeout to set and maximum size and It will be stored on server, like spigotmc.org has it.

PS. This is not issue, it's suggestion.

[2016-09-23 00:02] JoshHarmon commented on #260
IPs aren't all that important 99% of the time. I'd be more worried about cookies getting set than anything else.

Multiple issues with the "simple" implementation of this:

- Disclosure of server IP when fetching the image
- Storage space is the limiting factor on many hosting accounts. This could eat that up really quickly.

However, I do agree that having, for example, better compatibility with

[2016-09-23 00:32] adiantek commented on #260
If you have forum for server game (for example minecraft server), IP shouldn't be avaiable for other users. It could be simple option in MyBB ACP.

[2016-09-23 05:58] marktopper commented on #260
@adiantek: I think this is better as a plugin.

[2016-09-23 11:30] Devilshakerz commented on #260
MyBB 2.0 will support resource proxies: https://community.mybb.com/thread-191635.html
It's possible that we'll also include an internal proxy script for setting up secure boards quickly and for those without heavy traffic.

[2016-09-29 02:20] LiveChief opened #261 "Open Up Wiki"
Hey can u please open up the wiki section i have afew changes in mind
i want to add a couple of new pages

[2016-09-29 06:27] euantorano commented on #261
Hi, the wiki was closed down after some users were making spam edits.

What changes are you wanting to make?

[2016-09-30 07:08] LiveChief commented on #261
i want to add some new pages to it and edit the installation so there is a step by step on how someone does it so its much easier for them to install, now someone needs to know what they are doing to install it but i want to make it so even a 5 year old can copy and paste the commands to their VPS and install it

[2016-09-30 07:50] euantorano commented on #261
Hi,

I'm opening the Wiki up for this repository for now, but we will monitor it for spam edits and could end up shutting it again.

Regarding the install process, once MyBB 2.0 goes gold, there will be a proper installer GUI much like in 1.8 that will make installation as easy as you suggest. We're not quite at that stage yet though.

[2016-09-30 09:28] LiveChief commented on #261
i made some changed, will make alot more changes when i get back from class

[2016-09-30 09:46] euantorano commented on #261
Ok, thanks.

[2016-09-30 20:35] LiveChief commented on #261
yo can i add a system checker so it will check if the minimum requirements for mybb2 to work?

[2016-09-30 20:43] euantorano commented on #261
Hi,

There's one that already exists that has been posted on the forum. I'd rather not have an official one in case requirements change (though they shouldn't).

[2016-09-30 20:44] LiveChief commented on #261
can u please post a url to it

[2016-09-30 20:54] LiveChief commented on #261
New readme.md
https://ghostbin.com/paste/amw8m

[2016-09-30 21:01] LiveChief commented on #260
dont worry about ip nor cookies if you are really that worried use https://tails.boum.org/ its a OS if you dont want to go that far use https://www.torproject.org/ dont want to use tor? use https://openvpn.net/ dont want to use vpn? use a proxy https://www.uproxy.org/

All of the projects that i posted are OPEN-SOURCE

[2016-09-30 21:04] euantorano commented on #261
Hi,

Please see here: https://community.mybb.com/thread-190359.html

Regarding the README, is the only change the bottom section about support? If so, we don't want to add that in case people think that means we'll provide support for 2.0 - which we will not do until it is officially released.

[2016-09-30 21:09] LiveChief commented on #261
hey i am not talking about like someone downloading mybb, plugin and checking i am talking about like uploading 1 php file to their host to check if it works or not

[2016-09-30 21:14] euantorano commented on #261
Hi,

I’d still rather not add it to this repository as this should just be the core code. Perhaps add a wiki page with the code required? Or we can create a new repository that does all the checking. Jordan is a staff member so I’m sure he’d be happy to add his code to a new repository.

[2016-09-30 21:16] LiveChief commented on #261
lol not this one, i am talking about like uploading it to somewhere else and like if they want to check it they wget it to their systems, it wont be on repository

[2016-09-30 21:19] euantorano commented on #261
Ah, yes that would be fine. I've contacted Jordan and asked if he'll be happy to add his code to a new repository that can be easily checked out and ran. Thanks for the suggestion!

[2016-09-30 21:23] LiveChief commented on #261
in the wiki section under installation should i only add the required packages or some mod packages too?

[2016-09-30 21:25] euantorano commented on #261
Only the required packages for now. The idea is to just help developers get a development environment live.

[2016-09-30 21:32] LiveChief commented on #261
will mybb 1.0 and 2.0 have same logo?

[2016-09-30 21:34] euantorano commented on #261
I think the plan is to possibly update the font, but we’re not fully decided yet.

[2016-09-30 21:59] LiveChief commented on #261
updated read.me

[2016-10-02 03:03] #261 closed

[2016-10-04 14:56] katosdev commented on #260
Based on the answers by @Devilshakerz and @LiveChief I will be closing this issue.

[2016-10-04 14:56] #260 closed

[2016-10-04 19:44] LiveChief opened #262 "Plugin Auto Download And Install"
Hey i was thinking of like something along the line of wordpress where people can click one button and it will automatically download and install plugins that are uploaded in MyBB Mods

[2016-10-04 19:46] euantorano commented on #262
Pleas make feature suggestions on the forum.

This has already been discussed and ruled out for now due to the security risk - should the MyBB servers become compromised, all forums could be via a bogus plugin update.

[2016-10-04 19:47] #262 closed

[2016-10-04 21:27] LiveChief commented on #262
how about something like you upload a plugin as a zip and it automatically puts the files in place, there are alot of plugins out there with 50+ files on different locations

[2016-10-04 21:30] euantorano commented on #262
That is more likely to happen.

Plugins will also be installable via Composer too, so there won’t be that problem of files being spread about all over the place.

[2016-10-29 19:11] euantorano commented on #126
This should now be fixed with the URL changes, correct?

[2016-10-29 19:16] euantorano opened #263 "Convert all existing JavaScript to TypeScript."
All custom JavaScript (cookie handling, spinner, modals, etc.) should be written in [TypeScript](https://www.typescriptlang.org).

TypeScript should allow us to catch glaringly obvious errors in our JS much quicker due to its build time checks (rather than waiting for exceptions at runtime).

[2016-10-29 19:17] euantorano opened #264 "Evaluate the possibility of removing jQuery as a dependency."
We currently rely on jQuery for some extremely simple tasks (such as selecting elements and hiding/showing content).

We should evaluate whether requiring a large library such as jQuery is really necessary and whether we can trim some fat with either our own code or with lightweight alternatives.

[2016-10-29 19:58] Stefan-ST commented on #264
While I agree we should try to avoid large libraries jQueryis a kind of standard and required by a lot of useful Javascript scripts.

Interesting article why Zurb foundation switched from Zepto back to jQuery: http://zurb.com/article/1293/why-we-dropped-zepto

[2016-10-30 07:41] JN-Jones commented on #126
I'll test it as soon as I got my installation back running

[2016-10-30 07:43] JN-Jones commented on #264
As long as it's only used to eg select elements we possible could drop it. However as soon as we need some kind of library it would be best to use jQuery IMHO

[2016-10-30 07:50] JN-Jones commented on #173
Anything against renaming them to XyPresenter?

[2016-10-30 07:52] JN-Jones commented on #203
Has this been fixed @euantorano

[2016-10-30 07:54] JN-Jones commented on #105
So we're going with subclasses here? Any preferred way where they should be saved and in which namespace?

[2016-10-30 08:15] euantorano commented on #203
Possibly, I'll have to check.

[2016-10-30 08:15] euantorano commented on #173
Sounds good to me.

[2016-10-30 08:16] euantorano commented on #105
Yeah, subclasses would be my preference.

[2016-10-31 08:19] JN-Jones commented on #173
Apparently this has already been fixed by @JoshHarmon without a PR. Closing.

[2016-10-31 08:19] #173 closed

[2016-10-31 08:26] JN-Jones commented on #203
There seems to be some kind of issue with the route. It seems to create a request in the `searchlog` table and throws errors if the validation rules aren't matched but it doesn't seem to find the result later on and throws a `HttpNotFoundException`. Haven't debuged it yet but it may be related to the original issue.

[2016-10-31 08:38] JN-Jones commented on #105
Something else I've noticed: There's a facade `Breadcrumbs` which we use eg in `ConversationController`. IIRC we decided at some point to avoid using facades so these occurences should be updated too shouldn't they?

[2016-10-31 12:23] euantorano commented on #105
Yeah, they should be.

[2016-10-31 12:24] euantorano commented on #203
Interesting, do you want to try and debug/fix this whilst I work on the JS?

[2016-10-31 12:26] JN-Jones commented on #203
If I can find the cause for this :P

[2016-10-31 20:09] coniurare commented on #245
Vue is used by Alibaba [0], Baidu, Tencent and Xiaomi. I wouldn't be surprised if they would jump in if the development should come to a halt.

[0] http://alibaba.github.io/weex/#subscriptionWeex

[2016-10-31 20:24] euantorano commented on #245
Thanks @coniurare, that's good to know. At the minute, I'm rewriting some of our core JS classes (Spinner, cookie handling, etc.) to use TypeScript. I'll look at Vue further and see if I can wrap my head around it.

[2016-11-04 09:12] 036 commented on #264
I disagree with this. As @Stefan-ST has previously said a lot of useful javascript scripts rely on jQuery.

[2016-11-04 09:13] 036 commented on #245
I'd strongly suggest using Vue or Angular they're both extremely strong frameworks with lots of documentation and a good development team behind them.

[2016-11-04 12:31] JN-Jones commented on #264
But if we don't use them internally there's no point including it by default.

[2016-11-04 12:48] JN-Jones commented on #203
Ok, issue found and fixed^^

[2016-11-04 13:30] premiumcuyuz commented on #203
Good job @JN-Jones

[2016-11-04 13:50] JN-Jones commented on #105
Ok, apparently I've been inactive for way too long. The Facade is used in the base view to call `renderIfExists` so creating a subclass named `Breadcrumbs` doesn't seem to work. And even though I created a Twig Extension to avoid naming conflicts it seems not to use the package service provider anymore which results in missing breadcrumbs and views. I've tried to play with our service provider but

[2016-11-04 13:55] JN-Jones commented on #126
While topic links work now there are still issues with usernames. Note that it changed from dots to slashes so eg `Test/er` can't access his profile @euantorano

[2016-11-04 16:03] euantorano commented on #105
Service providers are loaded in the order they're defined in the config, so double check the breadcrumbs service provider is above the twig one.

I'll have a look over the weekend, we can talk through it and possible approaches then.

[2016-11-04 16:04] euantorano commented on #126
Damnit. The username should be slugified (which isn't a work, but `Test/er` should become `test-er`) for all links, same with any slugs used in URLs.

[2016-11-04 16:06] euantorano commented on #203
I'm re-opening this for now as we need to rename the column everywhere. When the PR is merged, this issue will close automagically.

[2016-11-04 19:17] #203 closed

[2016-11-05 05:06] hosname commented on #264
Jquery must have.

[2016-11-05 19:52] Eric-Jackson commented on #264
IMO it would be cool if nothing depended on jQuery, even if you include it for ease of use for beginners.

[2016-11-06 16:52] Stefan-ST commented on #264
Correct, however right now most of our 3rd party scripts require jQuery: https://github.com/mybb/mybb2/blob/d312ba51e33824becbce3e5e33c6358e10eda981/gulpfile.js#L18

[2016-11-15 14:17] Matslom commented on #47
Hi guys. I have a little problem.
How should I deal with different types of content (Posts/Topics/Users/other extended by plugins)?
Should I create a bunch of classes (post/topic/user) with informations about this type of content and then call it when creating a warning by url:
`moderation/warn/{user}/{content}/{contentId}` so for example:
`moderation/warn/1/post/2` will include post class
`modera

[2016-11-15 15:56] Holyphoenix commented on #47
Not a PHP master here, I tend to work on Java or C# most of the time.  But couldn't you create an interface called "warnable" that people could implement on their object which they want to be warnable?  And on that interface define a method that returns the snapshot data and a method that returns a type for that data as text, image, etc?  Then if someone has a plugin that hooks into the warn syste

[2016-11-15 19:28] euantorano commented on #47
I would think something like the following should work:

- `MyBB\Core\Warnings\Manager` - a manager class that is used to manage warnings and warning content types.
- `MyBB\Core\Warnings\WarnableContentInterface` - an interface that can be implemented for models (content types) that describes the `preview` (e.g.: `getWarningPreviewContent()` which gets the content and `getWarningPreviewView()` whi

[2016-11-16 14:09] 036 commented on #188
Has there been any progress on this?

[2016-11-16 14:10] 036 commented on #171
Will this be using Laravel echo?

[2016-11-16 14:32] JN-Jones commented on #188
@euantorano is currently working on the js changes so I guess he'll commit his changes rather sooner than later

[2016-11-16 15:11] euantorano commented on #188
Yes, I'm working on rewriting all the JS in typescript.

[2016-11-16 15:12] euantorano commented on #171
I've not had a chance to look at it properly, so it depends on how well it fits our needs.

[2016-11-16 16:53] Stefan-ST commented on #171
AFAIK Laravel Echo either uses Pusher.com (a paid 3rd party service) or Redis and Socket.io. The basic functionality should work without such dependencies.

[2016-11-16 17:23] euantorano commented on #171
That would definitely count that out then.

[2016-11-18 13:12] 036 opened #267 "Settings service provider preventing Auto installer from being possible"
When trying to access routes without the migration being run MyBB2 throws a query exception:

`SQLSTATE[42S02]: Base table or view not found: 1146 Table 'mybb2.settings' doesn't exist (SQL: select `settings`.`id`, `settings`.`name`, `settings`.`package`, `setting_values`.`value`, `setting_values`.`user_id` from `settings` left join `setting_values` on `setting_values`.`setting_id` = `settings`.`id

[2016-11-18 13:26] 036 commented on #195
I agree with removing this is makes it unnecessarily complex, when has there even been a problem with writing standard HTML?

[2016-11-18 13:36] Stefan-ST commented on #195
@036 Writing HTML isn't a problem but populating a form manually is more difficult. The package provides a convenient way to bind models to forms: https://laravelcollective.com/docs/5.3/html#form-model-binding

[2016-11-18 14:19] euantorano commented on #267
As discussed on Discord, I'm probably going to fix this by lazy loading settings when a setting is first accessed rather than at app boot time.

[2016-11-22 15:16] Siprah opened #269 "Merge system?"
What about merge system from MyBB 1.8 and other engines? Does at this time it's planned? In my opinion, we can start working at merge system, we have already some elements like posts, threads, polls and votes. After add some features, the skeleton of merge system will be already available so probably won't be any problems with implement new migration's tasks.

What are you think about it?

[2016-11-22 15:55] euantorano commented on #269
Hi,

The current plan is that the current merge system will have no more development, with the focus instead being upon writing a new version following modern techniques using modern libraries and tools. We do not have any roadmap or task list available for this yet, but hope to announce some details soon.

[2016-11-22 17:19] mtangoo opened #270 "Any Plan for API?"
The world is going mobile. While its great to have responsive design, forum owners will want to have streamlined Mobile Apps. having mobile app will make MyBB more of the choice because of mobile power it will be providing.

That being said, is there any plan to incorporate Rest API? At least for basic, non admin functionalities?

Sorry if it is already written somewhere. I could not find any disc

[2016-11-22 17:40] Matslom commented on #270
There are plans for API. https://community.mybb.com/thread-191930-post-1218363.html#pid1218363

[2016-11-22 17:41] euantorano commented on #270
This is planned, but not yet implemented.

[2016-11-23 08:03] mtangoo commented on #270
Wow that sounds great. I hope MyBB2 comes soon
Cheers!

[2016-11-23 08:03] #270 closed

[2016-11-26 14:23] WildcardSearch commented on #264
The thing about jQuery is that having integrated into the forum system by default is worth a lot to the admin and devs in terms of potential. Yes, it would be easy for an admin to include jQuery, but speaking as a developer, if I wanted to use some jQuery plugins with one of my MyBB plugins, I'd have to deal with support threads helping people to install jQuery-- or automate its installation and h

[2016-11-28 20:43] Matslom commented on #148
We are using only this one feature?
If we will remove `left` and `right` id:
1. How we will handle forum order?
2. How to handle forums in forum in category
- category
 --- forum
   ----- subforum
   ----- subforum
   ----- subforum

Also we need some stuff to create, order or remove forums from ACP.

It is true that nestedset dependency have more features than we need but there are some ready to

[2016-11-28 20:47] euantorano commented on #148
At the minute, those are the only features we are using. Ordering can be solved with an `order INT DEFAULT 0` column.

Nested sets has some nice features, but from what I remember it doesn't generate very nice queries (this might have changed - we are using a very old version).

[2016-11-28 21:16] Matslom commented on #148
Yep, for that moment the queries are ugly.
There are planned subforums like in 1x, right? So anyway we must add two columns: one for order, second for flag forums as parent (for subforums feature).

Ok then, I will remove this package and take up this ugly queries.

[2016-11-28 21:51] euantorano commented on #148
Yep, that's the plan :)

[2016-12-03 09:02] #47 closed

[2016-12-10 13:41] QWp6t commented on #245
Vue.js ships with Laravel 5.3+. It's not going anywhere anytime soon.

[2016-12-10 13:42] euantorano commented on #245
@QWp6t I'm aware of that, I still need to look into it, as I said 2 comments above :wink:

[2016-12-11 11:43] #148 closed

[2016-12-16 23:03] xaoseric commented on #208
@euantorano this may have something to do with the way we are getting the modal in javascript

[2016-12-16 23:14] euantorano commented on #208
Yeah, I’m going to rewrite the modal class this weekend hopefully and hopefully resolve this once and for all :)

[2016-12-18 19:43] euantorano opened #273 "Test namespaces"
The layout/structure of all tests is odd, with tests being in the same namespace as source. This needs cleaning up, and will need changes making to `composer.json` and all tests. Tests should be laid out as follows:

* Unit tests - `MyBB\Core\Tests\Unit`
* Functional tests - `MyBB\Core\Tests\Functional`

[2016-12-18 20:14] euantorano opened #274 "Authentication structure"
Laravel takes a different approach to authentication these days, with several controllers existing out of the box. We should look at updating to follow this structure: https://github.com/laravel/laravel/tree/6645cae8597f1d25f96ffd98793f160979e9403e/app/Http/Controllers/Auth

This goes hand in hand with the authorisation/permission system, so I will look at it during this week or after Christmas.

[2016-12-18 20:14] #269 closed

[2017-01-08 18:58] Matslom opened #276 "ACP forums management"
[x] List all forums
[x] Add new forum
[x] Edit forum
[ ] Delete forum
[ ] Change order
[ ] Javascript features
[ ] UI improvement

[2017-01-12 01:16] martec commented on #264
but editor not will require jquery?
Editors that I know mostly uses jquery as dependency.

[2017-01-12 15:23] #184 closed

[2017-01-12 15:25] #167 closed

[2017-01-16 20:00] Shade- commented on #264
Not all editors are dependent to jQuery: [Quill](http://quilljs.com) is so far the best Open Source editor I've ever seen and I had started working on a Markdown parser for it, which was the only thing missing and preventing me to launch it as a 1.8 plugin.

However, I am pretty much with @WildcardSearch. Being a developer, it's hard to maintain a package for something which does not have jQuery a

[2017-01-16 20:30] Eric-Jackson commented on #264
There's definitely a better way to approach this than stuffing jQuery in there just because it's easy on devs. Maybe a JS library manager. Either way is assuming an admin customizing templates can't include (Or find a tutorial on how to include) something as popular as jQuery (No technicality here, literally copy + paste) really the right thing to do?

Honestly it would be better if plugin devs co

[2017-01-16 22:24] WildcardSearch commented on #264
Do you remember how many support posts Euan got when he used jQuery in MyAlerts 1.x when MyBB was using Prototype? The amount of people who couldn't check the header include to make sure jQuery wasn't in there twice was ridiculous.

I may be wrong for saying this, but I just don't have a lot of confidence in even marginal intelligence from the general populace. I've seen too much. #scarred

[2017-02-05 08:06] Azareal commented on #175
I'm working on a little pull request for User Search. Opinions are welcome.
I have a little side form which you can filter the results in the list with. I might hide it with a media query and possibly have a separate page for mobile once I figure out SASS.

Do you think it would be a good idea to have a column for post count? At the very least, it might be a nice one to search by. Other possible s

[2017-02-05 16:23] justinsoltesz commented on #175
We actually probably won't use tables at all but instead use the user "cards" like in the front-end member list, which are more flexible. The search form should be pushed to the bottom on smaller displays.

If you want you can leave it as is and I will change it later when I make other changes to the Admin CP styling.

[2017-02-08 07:41] marktopper opened #281 "ETA release?"
Any ETA for the release of MyBB2?

[2017-02-08 07:42] euantorano commented on #281
It will be ready when it's ready.

[2017-02-08 07:43] #281 closed

[2017-02-19 18:35] Diddyy commented on #241
After a new install, I came across this issue to. It is solved by creating a sessions folder inside storage/framework as it mentioned also that the sessions folder could not be found. This solved the VerifyCsrfToken issue.

Sorry for bringing this out of the graveyard, just wanted to shine a light on the issue.

[2017-02-20 05:35] Azareal opened #284 "Type Hinting"
Type Hinting was one of the big features which landed in PHP7, I'm assuming you already have an idea as to what it is, but in short you can mark methods, functions, etc. up with little type hints as to what it will expect and the language will scream when you violate those constraints.

It should help to find cases where strange inputs are passed to a method / function, usually the sign of a bug.

[2017-04-20 00:38] daoanhvuacc commented on #204
I'm still got this issue when user try to do logout function.

FatalErrorException in LogsoutGuard.php line 68:
Call to a member function getAuthIdentifier() on null

[2017-04-20 14:02] euantorano commented on #204
That's a slightly different error, due to the user being null. I will need to investigate what might cause that.

[2017-05-28 13:54] reza-irdev opened #290 "Install Mybb2 development copy without Homestead?"
I'm trying to install a mybb2 development project in my localhost on ubuntu.
I downloaded it from this repo and extract it to the /www folder.
Run `composer install` command everything seems right but at the end of instalation artisan doses'n generate any code with this error:

Can anyone give me a hand? i wish to install mybb2 without Laravel Homestead.

[2017-05-28 14:53] euantorano commented on #290
Looks like this is due to a step I missed during a Laravel upgrade: https://github.com/laravel/framework/issues/9080

I'm away from home this weekend, but will push a patch on Tuesday.

[2017-05-29 06:21] reza-irdev commented on #290
Thank you for the reply. I've already read almost all of that(https://github.com/laravel/framework/issues/9080), Problem not solved :|

[2017-05-29 06:40] JoshHarmon commented on #290
The key should be 32 8-bit characters for 256-bit (key length) AES. Try changing it and running `php artisan config:cache` and then optionally `php artisan key:generate` to generate a new one that is base64'd and written into the config file.

At least that's what I gathered earlier when I looked.

[2017-05-29 16:24] reza-irdev commented on #290
It seems the artisan dont works at all.

`$ php artisan config:cache`

And result of command `$ php artisan key:generate` are the same as first command.

Here is my `.env` file contents that is no difference with `.env.example`

[2017-05-29 17:03] JoshHarmon commented on #290
@reza-irdev Well, yeah; you haven't changed the key to be 32 characters.

[2017-05-29 20:31] reza-irdev commented on #290
@JoshHarmon OK! now what i should do? thanks!

[2017-05-30 10:48] Matslom commented on #290
@reza-irdev check this line https://github.com/mybb/mybb2/pull/288/files#diff-cbfd64a28982a1818f2b5f16e7f9d634L3

[2017-05-30 13:32] reza-irdev commented on #290
@Matslom Thanks a lot. problem solved with APP_KEY :+1:
But we have new errors :))

Any solution?

[2017-05-30 18:42] euantorano commented on #290
Interesting. Looks like an issue with settings insertion, I will need to look into that.

[2017-06-03 08:08] #274 closed

[2017-06-04 11:07] CharlotteDunois commented on #284
Type Hinting was already in PHP5, just with PHP7 you can now hint scalar types. With PHP 7.1 you can define return types.

[2017-06-04 11:53] CharlotteDunois commented on #264
You can include jQuery by default, but you should not use jQuery for simple tasks, where Vanilla JS is definitely a few hundred times faster.

http://vanilla-js.com/

[2017-06-04 12:44] Azareal commented on #264
Mm, it might only be used for simple things now, but will that always be the case?
It really depends on what we're planning to do for 2.0 down the road.

Modern forum software are using more and more JavaScript to enrich the user experience, especially in the new ones like NodeBB. This doesn't mean that MyBB 2.0 should have an instant messenger instead of PMs like they do, but they are a good sour

[2017-06-04 12:49] Azareal commented on #284
I know, but type-hints are practically useless before PHP7.

[2017-06-04 13:33] CharlotteDunois commented on #284
Maybe you've never type-hint callables or classes, but others have (like me) and that's a) useful and b) usable in PHP5.

[2017-06-05 07:26] Azareal commented on #284
Considering that it's missing the most useful features, and it's *barely* usable, I could barely call that support. How many bugs are really going to be prevented with a few callables or classes? Perhaps, they might work for perfectionism's sake, but they're not that useful in practice.

With scalar type-hints, there are hundreds upon hundreds of bugs which will be caught and eradicated before the

[2017-06-05 15:54] Eric-Jackson commented on #264
@Azareal Things like this can be done without jQuery so it's inconsequential. I think the main issue at hand is which is more new user friendly. The main three options in my mind are "No jQuery", "Include jQuery but don't use it" and "include and use jQuery".

[2017-06-05 16:00] euantorano commented on #264
Remember I also hope to have a JavaScript manager like we have for Stylesheets, wich will hopefully allow scripts to have dependencies such as jQuery, which can be pulled in locally or from a CDN or elsewhere. I've still not decided how this will work or look like, but it would be very nice to have.

If the core doesn't have jQuery, but an admin/theme author needs it for a script, that script woul

[2017-06-05 16:21] Eric-Jackson commented on #264
I'm a fan of how Codepen handles it with easy includes for popular libraries.

![screen shot 2017-06-05 at 12 16 46 pm](https://cloud.githubusercontent.com/assets/1268260/26792619/fdeae9c6-49e8-11e7-9945-e9503f860077.png)

Storing resources/links with themes and allowing them to be added easily through an interface seems like a fine solution to me.

[2017-06-05 16:39] euantorano commented on #264
@Eric-Jackson Codepen is one of my inspirations :smile: Audentio used to have a similar plugin for 1.x too.

[2017-06-06 15:06] Azareal commented on #264
Pure Javascript might be a good alternative, although it really depends on whether we use the newer features or not. It can be pretty tricky to get by without jQuery on older browsers, and jQuery is a nice convenenience even today, although it is losing it's value.

I try to avoid jQuery whenever possible, except when I have to put a lot of work into putting an alternative into place. A mixed appr

[2017-06-06 17:45] Eric-Jackson commented on #264
@Azareal we're already transpiling ES6/Typescript so browser compatibility isn't an issue. Nowadays "old browsers" isn't too much of a thing thanks to npm anyway.

[2017-07-14 04:25] martec commented on #193
I'm not against it. but...
I am currently doing conversion of Rin Editor (https://community.mybb.com/thread-189422.html) to phpBB that use s9e/TextFormatter.
The problem is number of lines ignored after block elements.
If has block element and next is inline element need two '\n', but if has two consecutive blocks, now need three '\n' to create one br element.
Due to this inconsistency getting qui

[2017-07-14 04:47] JoshyPHP commented on #193
How nice would it be to live in a world where newlines are the biggest issue with WYSIWYG editors.

[2017-07-14 05:10] martec commented on #193
I do not disagree that it has only problems with that.
But Rin Editor for mybb is stable enough.
I have nothing against your parser. But if I do not have control for many lines will be skipped before and after block elements, i probably will not develop plugin Rin Editor for mybb 2, because since I know I'm going to have the problems.

[2017-07-29 05:56] Azareal commented on #193
I'm curious about the speed of this library, the most important thing when it comes to BBCode / Markdown is not accuracy (although, it would be *nice*), but speed. How does it compare to simply plopping down a Regex to match the tags? Some benchmarks would be nice.

Also, we might want to explore the possibility of compiling from text to some sort of AST / bytecode (some sort of intermediary forma

[2017-07-29 06:20] euantorano commented on #193
Parsing in MyBB 2 happens when a post is made or edited rather than when a post is viewed which improves performance anyway.

I haven't yet worked out how well handle new smileys/BBCode being added with this though.

[2017-07-29 06:21] euantorano commented on #193
Also, the current code is in the mybb/parser repository.

[2017-07-29 11:09] JoshyPHP commented on #193
@Azareal As @euantorano mentioned, parsing and rendering are [already decoupled](http://s9etextformatter.readthedocs.io/Getting_started/How_it_works/). There's a small informal [benchmark script](https://github.com/s9e/TextFormatter/blob/master/docs/examples/80_benchmark.php) in the repository that you can run in CLI or via a web server.

Generally, parsing is a matter of milliseconds and renderin

[2017-07-29 15:15] Azareal commented on #193
Okay, I looked at that link, although I haven't looked at everything.

Storing it as an array on the database side or some sort of tree structure would probably be a lot more efficient than using XML and parsing it on the PHP side. Most databases, with the exception of MySQL, have arrays.

One thing MySQL does have however is native support for JSON. PostgreSQL has even better support for JSON. Th

[2017-07-30 19:05] savander commented on #290
You have to split **[this line](https://github.com/mybb/mybb2/blob/master/database/seeds/SettingsTableSeeder.php#L17)** into two different inserts. Laravel can't handle random fields number, so each line where `options`  occurs, you have to move to another execution.

Before anyone from the team will fix that, you can replace SettingsTableSeeder.php with fixed one:
https://pastebin.com/59tzSfWR

[2017-08-06 11:56] #290 closed

[2017-09-10 11:42] AlexL777 opened #294 "FatalErrorException in ProfileFieldPresenter.php line 19"
Hello Developers,

I wanted to see your work live and installed the board. Puh .... it was very bad if I only knew that the database InnoDB and utf8mb4 unicode must be. Simply so with UTF8 it does not fold, because the number of bytes for the API KEY is 1000 bytes and that did not work then unfortunately.

I have tried a few things and have `/account/profile` this error.

[code]

If you can help m

[2017-09-10 12:45] euantorano commented on #294
Hi,

This is a known bug on the current code that I'll be fixing when I get back from my holiday.

The encryption key issue is definitely annoying, I need to look again at what we can do to fix that.

[2017-09-10 12:48] AlexL777 commented on #294
Thanks,
I am very happy to help something, because MyBB 2.0 interents me very much as an admin.

[2017-09-30 16:06] euantorano opened #302 "PHP return type declarations should follow the PHP FIG Extended Coding Style Guide."
The current code style does not fully follow the [PHP FIG Extended Coding Style Guide](https://github.com/php-fig/fig-standards/blob/master/proposed/extended-coding-style-guide.md). This should be fixed.

[2017-09-30 16:13] euantorano opened #303 "Template hook system"
Template hook system, allowing plugins and modules to easily output and modify template content without requiring edits to templates (removing the requirement for `find_replace_templatesets`). This should be less prone to error and make managing themes much easier (installing a new theme should mean that plugins just work).

[2017-09-30 16:25] euantorano opened #304 "Choose an editor for creating topics/posts."
We need to select a JS based WYSIWYG editor for 2.0.

This editor will be used when creating posts, conversations and other content.

**Requirements**

- MyCode/BBCode support
- Markdown support
- Ability to disable WYSIWYG feature, showing plain BBCode/Markdown and remember this choice (and allow this choice to be set via User CP/Admin CP)
- Ability to easily add new buttons/menus to the editor t

[2017-09-30 16:31] euantorano opened #305 "Theme system"
We need to implement a theme system, allowing custom themes. The default style needs to become a theme that is shipped alongside the core software.

**Desired Features*

- Custom styles per theme, overriding and extending defaults
- Custom templates/views per theme, overriding and extending defaults
- Custom JS per theme, overriding and extending defaults
- SASS support for styles, compiled by bac

[2017-09-30 16:32] Shade- commented on #304
How will data be stored and processed? If we're going to store already parsed data and an original content to allow edits, https://quilljs.com would be the nicest of them all IMHO. It needs a Quill-to-BBCode/Markdown parser, but its API is well documented.

[2017-09-30 16:35] euantorano commented on #304
That's a good question. Currently we store data pre-parsed, but there are a few downsides:

- BBCode/MyCode when added or modified won't be supported until a post is edited
- `@` style mentions won't track username changes, leading to confusion

@dvz Suggested that for the second issue we can pre-parse content that doesn't contain mentions, and otherwise parse on display. This is a possibility.

I

[2017-09-30 16:41] euantorano opened #306 "Module/Plugin system"
We need a module/plugin allowing easy extension of core features.

Additionally, it may make sense to make some core features into modules, such as likes. This would allow features to be easily enabled/disabled at will, and may make it easier to update and fix individual issues.

There should be an ACP area to manage modules, allowing the installation of new modules and checking whether existing m

[2017-09-30 16:42] #294 closed

[2017-09-30 16:43] euantorano opened #307 "JS Hook system"
The front end JS should provide a hook system allowing modules/plugins to hook into JS functions and modify output without requiring edits to core JS. It should also allow the overriding of core functionality.

[2017-09-30 16:53] euantorano opened #308 "JS translation/language system"
JS translation/language system using language variables defined in ACP, used both by JS and PHP code

[2017-09-30 16:59] #221 closed

[2017-09-30 17:00] #222 closed

[2017-10-13 20:50] AdrianKuriata commented on #304
I suggest summernote, big machine and very configurable.

[2017-10-13 20:55] AdrianKuriata commented on #195
Using laravel collective with vue is really big problem and not working together so if you want in the future use vue, you will need replace form created with collective to html forms.

[2017-10-22 15:38] kawaii commented on #304
I'm not sure if this is somewhere we can suggest editors but my vote goes for Monaco:

https://microsoft.github.io/monaco-editor/

[2017-10-22 15:41] euantorano commented on #304
Yes, this is as good a place as any to suggest editors. A good suggestion should explain the features provided, the license, etc.

[2017-10-23 06:17] Broatcast commented on #304
Have a look on StackEdit
https://github.com/benweet/stackedit
https://stackedit.io/

a nice and clean editore, i love the live preview function and its easy to customise to

[2017-12-04 16:34] 1e4 commented on #245
Did this ever make any progress?

[2017-12-04 16:34] 1e4 commented on #303
Is this still required? I'm willing to put something together if needed?

[2017-12-04 16:41] euantorano commented on #303
It would be great, yeah. Currently our focus is on 1.10 where we will hopefully manage to backport this feature.

[2017-12-04 16:43] euantorano commented on #245
There still hasn’t been any consensus. Currently the focus is on 1.10 to try and bridge the gap between new and old (or current in this case). There have been some discussions about possibly heading down the route of a SPA, but there are a couple of hurdles that would need to be jumped over such as allowing views to be easily edited in the ACP without incurring the penalty of parsing performance a

[2017-12-06 14:31] 1e4 commented on #245
Ok cool, well I guess I could add an opinion on the topic then?

I would advise against Vue for the frontend, it adds a lot of work for both you guys, the core team and the developers. Yes it's great, however by adding a JS framework such as Vue to MyBB you will cut out quite a lot of devs I reckon. Take Flarum for example, brilliant idea, but then they shoved a whole bunch of JS and made developi

[2017-12-06 14:32] 1e4 commented on #303
I built a hook system a few months back, pretty simple so I can create a PR when I get a chance.

[2017-12-06 14:48] euantorano commented on #303
Sounds awesome, I'll quickly outline the kind of thing I'm hoping for 😄

- A Twig function that can be used in any view, something like the following (each hook has a name - the `header_welcomeblock_member_end` hook is just an example here):

[code]

- A central `TemplateHookManager` (or something) where plugins and modules can register functions to run at a given hook. These functions should retu

[2017-12-07 22:36] 1e4 commented on #303
Sounds good, below is what I hacked together a few months ago for a project, with a little tweaking and exposing the methods to Twig it should be golden. I need to add priority, basically just sort the array. I'll write a checklist at the end, if you can confirm then I can put it in MyBB

[code]

I named it HookContainer as it contains all the hooks - this isn't limited to templates, I exposed it

[2017-12-14 09:01] 1e4 commented on #303
@euantorano Hope you don't mind the little bump

[2017-12-14 19:35] euantorano commented on #303
Sorry, I somehow missed the notification for your reply @1e4!

Looks good to me. The only points I see are:

- I'm not a big fan of facades for loading hooks - a repository injecting into the constructor would be nice 😄
- An admin section would be nice, but shouldn't be a priority. Very little work has been done on the ACP, so it can always get added later on.

[2017-12-17 11:22] Shade- commented on #304
Regarding [this post and related ones](https://community.mybb.com/thread-214721-post-1292658.html#pid1292658), if we are really going the mixed parser way I guess Quill is the only choice we have. I've been looking for already-built editors with BBCode and Markdown support but either they do not support one of the above, or they support them separately.

The main advantage of Quill is that it uses

[2017-12-17 18:08] 1e4 commented on #303
No problem @euantorano, there are also no Facades. The `Hooks::enabled()` is a model with a static method. The `hook()` function simply get's the Hook instance from the Container. I'll try and carve some time out and get this in this week :)

[2017-12-27 22:29] wherkamp opened #314 "Good Job!"
Good Job on the project, keep it going!

[2017-12-31 16:16] pixiuPL commented on #314
Just the opposite, but peace :)

[2017-12-31 16:46] wherkamp commented on #314
@pixiuPL I don't think the project is dead?

[2018-01-01 01:27] fluxtion commented on #314
I'm going to optimistically assume that your poor grasp of the English language gave your message unintended connotations.

It is alive because we still work on it.

[2018-01-02 13:47] 1e4 commented on #314
Project isn't dead at all, as to

Why are you even here?
Why do you even take the time to comment crap?
And looking at your profile, just makes you sound like a pathetic troll

[2018-01-02 16:23] 1e4 commented on #303
Afternoon @euantorano Christmas & New Year were busier than I expected, I'll look at making progress on it this week and keep you posted.

[2018-01-02 16:33] euantorano commented on #303
Happy new year!

No problem, I know that feeling for sure 😀

[2018-01-02 16:42] 1e4 commented on #303
Happy New Year @euantorano I hope MyBB 2 gets a BETA this year ^_^, hoping to contribute as much as I can to make this happen

[2018-01-02 16:54] euantorano commented on #303
The current focus is upon 1.9, 1.10 and other incremental steps in the 1.x line due to community demand.

[2018-01-02 22:02] WildcardSearch commented on #314
People, this is a software repository. Lets keep it professional.

[2018-01-02 22:02] #314 closed

[2018-01-04 16:31] 1e4 commented on #305
Regarding the SCSS support, there only seems to be one central package for it which is [SCSSPHP](https://github.com/leafo/scssphp). It is also possible to call Gulp/Webpack via Artisan commands, with this in mind you can take the heavy lifting away from PHP, but this probably isn't the best solution as especially production machines will most likely not have any build tools on it.

TypeScript I am

[2018-04-02 14:25] effone commented on #304
Certainly not fulfilling all of our requirements, but have just come across this feature-rich Markdown editor and wanted to share with you guys:
https://github.com/nhnent/tui.editor

[2018-04-10 05:33] effone commented on #304
Also, I guess this [MarkItUp!](http://markitup.jaysalvat.com/) a good start?

Its an old one, light-weight, very flexible to suit our need ... This is not a full fledged editor but an engine to make editor as per requirement on top of it, as they say ...
Supports HTML, BBCode, Textile, Markdown, Dotclear, Wiki even own custom markups << This may be helpful for custom MyCodes ?
https://github.com/m

[2019-04-07 22:53] ilMagnifico commented on #281
The project has been open publicly since 2011, only about 8 years have passed.
If they continue to work with this methodology, without doing tests before, i think **never**, seriously.